<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#DataFrame" data-toc-modified-id="DataFrame-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>DataFrame</a></span><ul class="toc-item"><li><span><a href="#Create" data-toc-modified-id="Create-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Create</a></span><ul class="toc-item"><li><span><a href="#DataFarme-dtypes-on-create" data-toc-modified-id="DataFarme-dtypes-on-create-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>DataFarme dtypes on create</a></span></li><li><span><a href="#Read-multiple-files-into-dataframe" data-toc-modified-id="Read-multiple-files-into-dataframe-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>Read multiple files into dataframe</a></span></li></ul></li><li><span><a href="#Indexing-/-Select-/-Search" data-toc-modified-id="Indexing-/-Select-/-Search-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Indexing / Select / Search</a></span><ul class="toc-item"><li><span><a href="#Row-(Строка)" data-toc-modified-id="Row-(Строка)-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Row (Строка)</a></span></li><li><span><a href="#Column-(Столбец)" data-toc-modified-id="Column-(Столбец)-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>Column (Столбец)</a></span></li><li><span><a href="#Exact-point" data-toc-modified-id="Exact-point-1.2.3"><span class="toc-item-num">1.2.3&nbsp;&nbsp;</span>Exact point</a></span></li><li><span><a href="#Select-columns-by-regex" data-toc-modified-id="Select-columns-by-regex-1.2.4"><span class="toc-item-num">1.2.4&nbsp;&nbsp;</span>Select columns by regex</a></span><ul class="toc-item"><li><span><a href="#Filter-rows" data-toc-modified-id="Filter-rows-1.2.4.1"><span class="toc-item-num">1.2.4.1&nbsp;&nbsp;</span>Filter rows</a></span></li></ul></li><li><span><a href="#Selecting-Random-Samples" data-toc-modified-id="Selecting-Random-Samples-1.2.5"><span class="toc-item-num">1.2.5&nbsp;&nbsp;</span>Selecting Random Samples</a></span></li><li><span><a href="#Max-by-Column" data-toc-modified-id="Max-by-Column-1.2.6"><span class="toc-item-num">1.2.6&nbsp;&nbsp;</span>Max by Column</a></span></li><li><span><a href="#Search-by-complex-criteria-(+boolean-indexing).-Where-/-mask-/-query" data-toc-modified-id="Search-by-complex-criteria-(+boolean-indexing).-Where-/-mask-/-query-1.2.7"><span class="toc-item-num">1.2.7&nbsp;&nbsp;</span>Search by complex criteria (+boolean indexing). Where / mask / query</a></span><ul class="toc-item"><li><span><a href="#Where,-mask" data-toc-modified-id="Where,-mask-1.2.7.1"><span class="toc-item-num">1.2.7.1&nbsp;&nbsp;</span>Where, mask</a></span></li><li><span><a href="#Query" data-toc-modified-id="Query-1.2.7.2"><span class="toc-item-num">1.2.7.2&nbsp;&nbsp;</span>Query</a></span></li><li><span><a href="#Select-(lambda)" data-toc-modified-id="Select-(lambda)-1.2.7.3"><span class="toc-item-num">1.2.7.3&nbsp;&nbsp;</span>Select (lambda)</a></span></li></ul></li><li><span><a href="#Stack-/-unstack" data-toc-modified-id="Stack-/-unstack-1.2.8"><span class="toc-item-num">1.2.8&nbsp;&nbsp;</span>Stack / unstack</a></span></li></ul></li><li><span><a href="#Aggregate" data-toc-modified-id="Aggregate-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Aggregate</a></span></li><li><span><a href="#Multiindex" data-toc-modified-id="Multiindex-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Multiindex</a></span><ul class="toc-item"><li><span><a href="#Simple-series" data-toc-modified-id="Simple-series-1.4.1"><span class="toc-item-num">1.4.1&nbsp;&nbsp;</span>Simple series</a></span></li><li><span><a href="#DataFrame" data-toc-modified-id="DataFrame-1.4.2"><span class="toc-item-num">1.4.2&nbsp;&nbsp;</span>DataFrame</a></span></li></ul></li><li><span><a href="#Манипуляции-с-DataFrame:-add-row/max/row-iteration" data-toc-modified-id="Манипуляции-с-DataFrame:-add-row/max/row-iteration-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Манипуляции с DataFrame: add row/max/row iteration</a></span><ul class="toc-item"><li><span><a href="#Create-from-nested-dict-(from_dict)" data-toc-modified-id="Create-from-nested-dict-(from_dict)-1.5.1"><span class="toc-item-num">1.5.1&nbsp;&nbsp;</span>Create from nested dict (from_dict)</a></span><ul class="toc-item"><li><span><a href="#DataFrame.from_records" data-toc-modified-id="DataFrame.from_records-1.5.1.1"><span class="toc-item-num">1.5.1.1&nbsp;&nbsp;</span>DataFrame.from_records</a></span></li></ul></li><li><span><a href="#Добавление-к-каждому-элементу" data-toc-modified-id="Добавление-к-каждому-элементу-1.5.2"><span class="toc-item-num">1.5.2&nbsp;&nbsp;</span>Добавление к каждому элементу</a></span></li><li><span><a href="#Добавление-строки-(add-row)" data-toc-modified-id="Добавление-строки-(add-row)-1.5.3"><span class="toc-item-num">1.5.3&nbsp;&nbsp;</span>Добавление строки (add row)</a></span></li><li><span><a href="#Добавление-столбца-(add-column)" data-toc-modified-id="Добавление-столбца-(add-column)-1.5.4"><span class="toc-item-num">1.5.4&nbsp;&nbsp;</span>Добавление столбца (add column)</a></span><ul class="toc-item"><li><span><a href="#Добавление-нескольких-столбцов" data-toc-modified-id="Добавление-нескольких-столбцов-1.5.4.1"><span class="toc-item-num">1.5.4.1&nbsp;&nbsp;</span>Добавление нескольких столбцов</a></span></li><li><span><a href="#Добавление-нескольких-столбцов-с-РАЗНОЙ-индексацией" data-toc-modified-id="Добавление-нескольких-столбцов-с-РАЗНОЙ-индексацией-1.5.4.2"><span class="toc-item-num">1.5.4.2&nbsp;&nbsp;</span>Добавление нескольких столбцов с РАЗНОЙ индексацией</a></span></li></ul></li><li><span><a href="#Replace-columns" data-toc-modified-id="Replace-columns-1.5.5"><span class="toc-item-num">1.5.5&nbsp;&nbsp;</span>Replace columns</a></span><ul class="toc-item"><li><span><a href="#Same-amount" data-toc-modified-id="Same-amount-1.5.5.1"><span class="toc-item-num">1.5.5.1&nbsp;&nbsp;</span>Same amount</a></span></li><li><span><a href="#Different-columns-(drop-2,-add-3)" data-toc-modified-id="Different-columns-(drop-2,-add-3)-1.5.5.2"><span class="toc-item-num">1.5.5.2&nbsp;&nbsp;</span>Different columns (drop 2, add 3)</a></span></li><li><span><a href="#Do-NOT-preserve-indexes" data-toc-modified-id="Do-NOT-preserve-indexes-1.5.5.3"><span class="toc-item-num">1.5.5.3&nbsp;&nbsp;</span>Do NOT preserve indexes</a></span></li></ul></li><li><span><a href="#Удаление-строк-(row-remove)" data-toc-modified-id="Удаление-строк-(row-remove)-1.5.6"><span class="toc-item-num">1.5.6&nbsp;&nbsp;</span>Удаление строк (row remove)</a></span></li><li><span><a href="#Удаление-столбцов-(column-remove)" data-toc-modified-id="Удаление-столбцов-(column-remove)-1.5.7"><span class="toc-item-num">1.5.7&nbsp;&nbsp;</span>Удаление столбцов (column remove)</a></span><ul class="toc-item"><li><span><a href="#Safe-remove-if-exists" data-toc-modified-id="Safe-remove-if-exists-1.5.7.1"><span class="toc-item-num">1.5.7.1&nbsp;&nbsp;</span>Safe remove if exists</a></span></li></ul></li><li><span><a href="#String-format-of-row" data-toc-modified-id="String-format-of-row-1.5.8"><span class="toc-item-num">1.5.8&nbsp;&nbsp;</span>String format of row</a></span></li><li><span><a href="#Columns-string-concat" data-toc-modified-id="Columns-string-concat-1.5.9"><span class="toc-item-num">1.5.9&nbsp;&nbsp;</span>Columns string concat</a></span></li><li><span><a href="#Column-names-suffiexes/prefixes" data-toc-modified-id="Column-names-suffiexes/prefixes-1.5.10"><span class="toc-item-num">1.5.10&nbsp;&nbsp;</span>Column names suffiexes/prefixes</a></span></li><li><span><a href="#Map,-apply" data-toc-modified-id="Map,-apply-1.5.11"><span class="toc-item-num">1.5.11&nbsp;&nbsp;</span>Map, apply</a></span></li></ul></li><li><span><a href="#Nan,-Nulls" data-toc-modified-id="Nan,-Nulls-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Nan, Nulls</a></span><ul class="toc-item"><li><span><a href="#Count-nulls" data-toc-modified-id="Count-nulls-1.6.1"><span class="toc-item-num">1.6.1&nbsp;&nbsp;</span>Count nulls</a></span></li><li><span><a href="#Rows-with-NaN-in-any-column" data-toc-modified-id="Rows-with-NaN-in-any-column-1.6.2"><span class="toc-item-num">1.6.2&nbsp;&nbsp;</span>Rows with NaN in any column</a></span></li><li><span><a href="#Fillna-gaps" data-toc-modified-id="Fillna-gaps-1.6.3"><span class="toc-item-num">1.6.3&nbsp;&nbsp;</span>Fillna gaps</a></span><ul class="toc-item"><li><span><a href="#Interpolate" data-toc-modified-id="Interpolate-1.6.3.1"><span class="toc-item-num">1.6.3.1&nbsp;&nbsp;</span>Interpolate</a></span></li></ul></li></ul></li><li><span><a href="#DataFrame-diff" data-toc-modified-id="DataFrame-diff-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>DataFrame diff</a></span><ul class="toc-item"><li><span><a href="#Direct-!=" data-toc-modified-id="Direct-!=-1.7.1"><span class="toc-item-num">1.7.1&nbsp;&nbsp;</span>Direct !=</a></span><ul class="toc-item"><li><span><a href="#function-DataFrameDiff" data-toc-modified-id="function-DataFrameDiff-1.7.1.1"><span class="toc-item-num">1.7.1.1&nbsp;&nbsp;</span>function DataFrameDiff</a></span></li></ul></li><li><span><a href="#Compare-not-identical-DataFrames" data-toc-modified-id="Compare-not-identical-DataFrames-1.7.2"><span class="toc-item-num">1.7.2&nbsp;&nbsp;</span>Compare not identical DataFrames</a></span></li><li><span><a href="#Sort-columns-(Workaround-ValueError:-Can-only-compare-identically-labeled-DataFrame-objects)" data-toc-modified-id="Sort-columns-(Workaround-ValueError:-Can-only-compare-identically-labeled-DataFrame-objects)-1.7.3"><span class="toc-item-num">1.7.3&nbsp;&nbsp;</span>Sort columns (Workaround ValueError: Can only compare identically-labeled DataFrame objects)</a></span></li><li><span><a href="#DataFrame-columns-correlations" data-toc-modified-id="DataFrame-columns-correlations-1.7.4"><span class="toc-item-num">1.7.4&nbsp;&nbsp;</span>DataFrame columns correlations</a></span><ul class="toc-item"><li><span><a href="#Find-tight-correlated:-Full-solution-http://stackoverflow.com/questions/24002820/returning-groups-of-correlated-columns-in-pandas-data-frame" data-toc-modified-id="Find-tight-correlated:-Full-solution-http://stackoverflow.com/questions/24002820/returning-groups-of-correlated-columns-in-pandas-data-frame-1.7.4.1"><span class="toc-item-num">1.7.4.1&nbsp;&nbsp;</span>Find tight correlated: Full solution <a href="http://stackoverflow.com/questions/24002820/returning-groups-of-correlated-columns-in-pandas-data-frame" target="_blank">http://stackoverflow.com/questions/24002820/returning-groups-of-correlated-columns-in-pandas-data-frame</a></a></span></li></ul></li></ul></li><li><span><a href="#Statistics-statsmodel" data-toc-modified-id="Statistics-statsmodel-1.8"><span class="toc-item-num">1.8&nbsp;&nbsp;</span>Statistics statsmodel</a></span><ul class="toc-item"><li><span><a href="#Formulas" data-toc-modified-id="Formulas-1.8.1"><span class="toc-item-num">1.8.1&nbsp;&nbsp;</span>Formulas</a></span></li></ul></li></ul></li><li><span><a href="#Dict" data-toc-modified-id="Dict-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Dict</a></span><ul class="toc-item"><li><span><a href="#Check-key-present" data-toc-modified-id="Check-key-present-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Check key present</a></span></li></ul></li><li><span><a href="#Series" data-toc-modified-id="Series-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Series</a></span><ul class="toc-item"><li><span><a href="#Indexing" data-toc-modified-id="Indexing-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Indexing</a></span><ul class="toc-item"><li><span><a href="#is-in" data-toc-modified-id="is-in-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>is in</a></span></li></ul></li><li><span><a href="#Random" data-toc-modified-id="Random-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Random</a></span></li><li><span><a href="#Time-series" data-toc-modified-id="Time-series-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Time series</a></span><ul class="toc-item"><li><span><a href="#Time-measure" data-toc-modified-id="Time-measure-3.3.1"><span class="toc-item-num">3.3.1&nbsp;&nbsp;</span>Time measure</a></span></li></ul></li><li><span><a href="#Date,-Time" data-toc-modified-id="Date,-Time-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Date, Time</a></span></li><li><span><a href="#np.zeros" data-toc-modified-id="np.zeros-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>np.zeros</a></span></li><li><span><a href="#Timedelta" data-toc-modified-id="Timedelta-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>Timedelta</a></span></li><li><span><a href="#Itertools" data-toc-modified-id="Itertools-3.7"><span class="toc-item-num">3.7&nbsp;&nbsp;</span>Itertools</a></span></li></ul></li><li><span><a href="#Lists" data-toc-modified-id="Lists-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Lists</a></span><ul class="toc-item"><li><span><a href="#Intersection" data-toc-modified-id="Intersection-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Intersection</a></span></li></ul></li><li><span><a href="#Formatting" data-toc-modified-id="Formatting-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Formatting</a></span><ul class="toc-item"><li><span><a href="#HTML,-%%asmarkdown-cell-magic" data-toc-modified-id="HTML,-%%asmarkdown-cell-magic-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>HTML, %%asmarkdown cell magic</a></span></li><li><span><a href="#DataFrame-formatting" data-toc-modified-id="DataFrame-formatting-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>DataFrame formatting</a></span></li></ul></li><li><span><a href="#Categorical-data" data-toc-modified-id="Categorical-data-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Categorical data</a></span><ul class="toc-item"><li><span><a href="#Cast-series" data-toc-modified-id="Cast-series-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Cast series</a></span></li><li><span><a href="#Cast-DataFrame-columns" data-toc-modified-id="Cast-DataFrame-columns-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>Cast DataFrame columns</a></span></li><li><span><a href="#Pandas-get_dummies-(words-bag)" data-toc-modified-id="Pandas-get_dummies-(words-bag)-6.3"><span class="toc-item-num">6.3&nbsp;&nbsp;</span>Pandas get_dummies (words bag)</a></span></li><li><span><a href="#sklearn.preprocessing.OneHotEncoder" data-toc-modified-id="sklearn.preprocessing.OneHotEncoder-6.4"><span class="toc-item-num">6.4&nbsp;&nbsp;</span>sklearn.preprocessing.OneHotEncoder</a></span></li><li><span><a href="#Memory-consumption" data-toc-modified-id="Memory-consumption-6.5"><span class="toc-item-num">6.5&nbsp;&nbsp;</span>Memory consumption</a></span></li><li><span><a href="#Cut-(bucket-ranging)" data-toc-modified-id="Cut-(bucket-ranging)-6.6"><span class="toc-item-num">6.6&nbsp;&nbsp;</span>Cut (bucket ranging)</a></span></li></ul></li><li><span><a href="#Fitting" data-toc-modified-id="Fitting-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Fitting</a></span><ul class="toc-item"><li><span><a href="#GridSearchCV" data-toc-modified-id="GridSearchCV-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>GridSearchCV</a></span></li><li><span><a href="#LogisticRegressionCV" data-toc-modified-id="LogisticRegressionCV-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>LogisticRegressionCV</a></span></li></ul></li><li><span><a href="#Serialization" data-toc-modified-id="Serialization-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Serialization</a></span><ul class="toc-item"><li><span><a href="#Pickle" data-toc-modified-id="Pickle-8.1"><span class="toc-item-num">8.1&nbsp;&nbsp;</span>Pickle</a></span><ul class="toc-item"><li><span><a href="#So,-we-can't-save/restore-classes-which-changed-:(" data-toc-modified-id="So,-we-can't-save/restore-classes-which-changed-:(-8.1.1"><span class="toc-item-num">8.1.1&nbsp;&nbsp;</span>So, we can't save/restore classes which changed :(</a></span></li></ul></li><li><span><a href="#Json" data-toc-modified-id="Json-8.2"><span class="toc-item-num">8.2&nbsp;&nbsp;</span>Json</a></span><ul class="toc-item"><li><span><a href="#jsonpickle" data-toc-modified-id="jsonpickle-8.2.1"><span class="toc-item-num">8.2.1&nbsp;&nbsp;</span>jsonpickle</a></span></li></ul></li><li><span><a href="#Marshal" data-toc-modified-id="Marshal-8.3"><span class="toc-item-num">8.3&nbsp;&nbsp;</span>Marshal</a></span></li></ul></li><li><span><a href="#Matching-vectorize" data-toc-modified-id="Matching-vectorize-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Matching vectorize</a></span><ul class="toc-item"><li><span><a href="#CrossValidationScorer-results" data-toc-modified-id="CrossValidationScorer-results-9.1"><span class="toc-item-num">9.1&nbsp;&nbsp;</span>CrossValidationScorer results</a></span></li></ul></li><li><span><a href="#↡↡↡↡↡↡↡" data-toc-modified-id="↡↡↡↡↡↡↡-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>↡↡↡↡↡↡↡</a></span></li></ul></div>

In [1]:
import numpy
import pandas
from pandas import DataFrame

# DataFrame

## Create

In [2]:
a = numpy.array([[1, 2, 3], [11, 22, 33]])
b = numpy.array([['a', 'b', 'c'], ['aa', 'bb', 'cc']])
a

array([[ 1,  2,  3],
       [11, 22, 33]])

In [3]:
b

array([['a', 'b', 'c'],
       ['aa', 'bb', 'cc']], dtype='<U2')

In [4]:
DataFrame(a)

    0   1   2
0   1   2   3
1  11  22  33

In [5]:
DataFrame(b)

    0   1   2
0   a   b   c
1  aa  bb  cc

In [6]:
# http://docs.scipy.org/doc/numpy-1.10.0/reference/generated/numpy.hstack.html#numpy.hstack
ab = numpy.hstack((a, b))
ab

array([['1', '2', '3', 'a', 'b', 'c'],
       ['11', '22', '33', 'aa', 'bb', 'cc']], dtype='<U21')

In [7]:
DataFrame(ab)

    0   1   2   3   4   5
0   1   2   3   a   b   c
1  11  22  33  aa  bb  cc

### DataFarme dtypes on create

https://github.com/pydata/pandas/issues/9133

In [8]:
#df = DataFrame(index=range(0,4),columns=['A', 'B'], dtype={'A': 'int', 'B': 'float'})
#df = DataFrame(index=range(0,4),columns=['A', 'B'], dtype=[('A', 'int'), ('B', 'float')])
# Error: NotImplementedError: compound dtypes are not implementedin the DataFrame constructor
#df.dtypes

### Read multiple files into dataframe

In [9]:
_df = pandas.read_csv(
    'data/gradient_cross_score_extended_n=10.csv'
#            ,parse_dates=True, infer_datetime_format=True
)
print (_df.dtypes)
type(pandas.to_timedelta(_df['time_elapsed'])[0])

n_estimators      float64
learning_rate     float64
max_depth         float64
subsample         float64
max_features      float64
auc_roc           float64
time_elapsed       object
cpu_time_spent     object
dtype: object

pandas._libs.tslibs.timedeltas.Timedelta

That magic will parse automatically dates, but NOT timedelta's! Spent many time understand. Bug still open: https://github.com/pydata/pandas/issues/8185 (see also explanation in https://github.com/pydata/pandas/issues/4378#issuecomment-24334259)
And my comment: http://stackoverflow.com/questions/21906715/how-to-get-pandas-read-csv-to-infer-datetime-and-timedelta-types-from-csv-file#comment59643668_21907505
!!!

In [10]:
# Read back multiple files into dataframe:
# http://stackoverflow.com/questions/20906474/import-multiple-csv-files-into-pandas-and-concatenate-into-one-dataframe
import glob
df = pandas.concat(
    (
        pandas.read_csv(
            f
            ,parse_dates=['time_elapsed'], infer_datetime_format=True
        ) for f in glob.glob("data/gradient_cross_score_extended_n=*.csv")
    )
    ,ignore_index=True # Important to do not have dupes in indexes! See below.
)
print (df.shape)
print (df.dtypes)
df['time_elapsed'] = pandas.to_timedelta(df['time_elapsed'])
df['cpu_time_spent'] = pandas.to_timedelta(df['cpu_time_spent'])
print (df.dtypes)
df.head()

(324, 8)
n_estimators      float64
learning_rate     float64
max_depth         float64
subsample         float64
max_features      float64
auc_roc           float64
time_elapsed       object
cpu_time_spent     object
dtype: object
n_estimators              float64
learning_rate             float64
max_depth                 float64
subsample                 float64
max_features              float64
auc_roc                   float64
time_elapsed      timedelta64[ns]
cpu_time_spent    timedelta64[ns]
dtype: object

,n_estimators,learning_rate,max_depth,subsample,max_features,auc_roc,time_elapsed,cpu_time_spent
0,10.0,0.1,0.1,0.1,0.1,0.5,00:00:09.297512,00:00:00.425086
1,10.0,0.1,0.1,0.1,0.5,0.5,00:00:10.224180,00:00:00.447232
2,10.0,0.1,0.1,0.1,1.0,0.5,00:00:10.204741,00:00:00.419867
3,10.0,0.1,0.1,0.5,0.1,0.5,00:00:10.406008,00:00:00.417316
4,10.0,0.1,0.1,0.5,0.5,0.5,00:00:09.697904,00:00:00.433964

In [11]:
# ignore_index=True important!
df = pandas.concat(
    (pandas.read_csv(f) for f in glob.glob("data/gradient_cross_score_extended_n=*.csv"))
    , ignore_index=True
)
print (df.shape)
df
# 4 rows with index 10!!!
df.loc[10]

(324, 8)

n_estimators                             10
learning_rate                           0.1
max_depth                                 1
subsample                               0.1
max_features                            0.5
auc_roc                            0.622976
time_elapsed      0 days 00:00:10.431367000
cpu_time_spent    0 days 00:00:00.450505000
Name: 10, dtype: object

In [12]:
df.index = range(df.shape[0])
df.head()

,n_estimators,learning_rate,max_depth,subsample,max_features,auc_roc,time_elapsed,cpu_time_spent
0,10.0,0.1,0.1,0.1,0.1,0.5,0 days 00:00:09.297512000,0 days 00:00:00.425086000
1,10.0,0.1,0.1,0.1,0.5,0.5,0 days 00:00:10.224180000,0 days 00:00:00.447232000
2,10.0,0.1,0.1,0.1,1.0,0.5,0 days 00:00:10.204741000,0 days 00:00:00.419867000
3,10.0,0.1,0.1,0.5,0.1,0.5,0 days 00:00:10.406008000,0 days 00:00:00.417316000
4,10.0,0.1,0.1,0.5,0.5,0.5,0 days 00:00:09.697904000,0 days 00:00:00.433964000

In [13]:
# Now one row!
df.loc[10]

n_estimators                             10
learning_rate                           0.1
max_depth                                 1
subsample                               0.1
max_features                            0.5
auc_roc                            0.622976
time_elapsed      0 days 00:00:10.431367000
cpu_time_spent    0 days 00:00:00.450505000
Name: 10, dtype: object

## Indexing / Select / Search

In [14]:
d = DataFrame([[1, 2], [3, 8], [7, 8], [12, 9], [17, 18]], columns=['train', 'test'])
d.index = [10, 20, 30, 40, 50]
d

    train  test
10      1     2
20      3     8
30      7     8
40     12     9
50     17    18

### Row (Строка)

In [15]:
# 0 row:
d.loc[10]

train    1
test     2
Name: 10, dtype: int64

In [16]:
# 3 rows:
d.loc[10:30]

    train  test
10      1     2
20      3     8
30      7     8

### Column (Столбец)

In [17]:
d.train

10     1
20     3
30     7
40    12
50    17
Name: train, dtype: int64

In [18]:
d['train']

10     1
20     3
30     7
40    12
50    17
Name: train, dtype: int64

In [19]:
d.loc[:,'train']

10     1
20     3
30     7
40    12
50    17
Name: train, dtype: int64

In [20]:
d.loc[:,'train':'test']

    train  test
10      1     2
20      3     8
30      7     8
40     12     9
50     17    18

In [21]:
# List syntax
d[['train','test']]

    train  test
10      1     2
20      3     8
30      7     8
40     12     9
50     17    18

### Exact point (by Row and Column)

http://pandas.pydata.org/pandas-docs/stable/indexing.html#fast-scalar-value-getting-and-setting

In [22]:
d.loc[20, 'train']

3

In [23]:
d.iloc[1, 0]

3

In [24]:
d.iat[1, 0]

3

In [25]:
d.at[20, 'train']

3

### Select columns by regex

http://stackoverflow.com/questions/30808430/how-to-select-columns-from-dataframe-by-regex

In [26]:
df = pandas.DataFrame(numpy.random.randint(1, 10, size=(12, 3)),columns=['d','t','didi'])

df.filter(regex=('d.*'))

    d  didi
0   4     5
1   3     9
2   2     5
3   9     2
4   7     4
5   1     9
6   4     1
7   8     3
8   7     6
9   9     8
10  9     5
11  3     1

#### Filter rows

In [27]:
df.filter(regex=('1.*'), axis=0)

    d  t  didi
1   3  4     9
10  9  8     5
11  3  1     1

### Selecting Random Samples

http://pandas.pydata.org/pandas-docs/stable/indexing.html#selecting-random-samples

In [28]:
sdf = DataFrame(numpy.random.randint(1, 10, size=(100, 4)), columns=list('ABCD'))
sdf

    A  B  C  D
0   5  9  6  2
1   6  7  5  3
2   3  5  4  2
3   5  1  4  2
4   2  9  6  2
.. .. .. .. ..
95  8  9  2  5
96  9  6  9  8
97  4  4  5  5
98  7  7  3  3
99  4  3  4  8

[100 rows x 4 columns]

In [29]:
sdf.describe()

                A         B           C           D
count  100.000000  100.0000  100.000000  100.000000
mean     5.230000    4.7700    4.820000    4.910000
std      2.326201    2.7112    2.409493    2.582361
min      1.000000    1.0000    1.000000    1.000000
25%      3.000000    2.0000    3.000000    3.000000
50%      5.000000    5.0000    5.000000    5.000000
75%      7.000000    7.0000    6.000000    7.000000
max      9.000000    9.0000    9.000000    9.000000

In [30]:
sdf.sample(n=1)

    A  B  C  D
45  7  6  4  1

In [31]:
sdf.sample(n=5)

    A  B  C  D
60  5  2  2  6
90  3  1  5  9
18  3  2  1  7
73  4  9  5  1
11  1  1  1  7

In [32]:
sdf.sample(frac=0.05)

    A  B  C  D
37  7  3  5  3
6   6  7  6  5
57  6  3  9  8
17  6  8  5  1
79  7  5  5  3

### Max by Column

In [33]:
res = DataFrame(columns=['n_estimators', 'auc_roc', 'time_elapsed']);
res.loc[len(res)] = [ 10, 0.71, 100 ]
res.loc[len(res)] = [ 20, 0.72, 200 ]
res.loc[len(res)] = [ 30, 0.73, 300 ]
res.loc[len(res)+1] = [ 40, 0.74, 400 ]
res.loc[len(res)+2] = [ 50, 0.70, 500 ]
res
#print ('Maximum auc_roc: n={n_estimators}; auc_roc={auc_roc}; time_elapsed={time_elapsed}'.format(**max(res, key=lambda k: k['auc_roc'])) )

   n_estimators  auc_roc  time_elapsed
0          10.0     0.71         100.0
1          20.0     0.72         200.0
2          30.0     0.73         300.0
4          40.0     0.74         400.0
6          50.0     0.70         500.0

In [34]:
res.max().max()

500.0

In [35]:
max(res.iterrows(), key=lambda k: k[1]['auc_roc'])[1]

n_estimators     40.00
auc_roc           0.74
time_elapsed    400.00
Name: 4, dtype: float64

In [36]:
print ('Maximum auc_roc: n={n_estimators}; auc_roc={auc_roc}; time_elapsed={time_elapsed}'.format(
            **max(res.iterrows(), key=lambda k: k[1]['auc_roc'])[1] # See ArraysSandbox for indexing magic
        )
    )

Maximum auc_roc: n=40.0; auc_roc=0.74; time_elapsed=400.0

### Search by complex criteria (+boolean indexing). Where / mask / query

http://pandas.pydata.org/pandas-docs/stable/indexing.html#boolean-indexing

http://pandas.pydata.org/pandas-docs/stable/indexing.html#the-where-method-and-masking

#### Where, mask

In [37]:
w = DataFrame(numpy.random.randint(1, 10, size=(10, 4)), columns=list('ABCD'))
w

   A  B  C  D
0  1  8  1  3
1  8  2  4  4
2  8  8  2  9
3  6  9  6  9
4  8  6  2  5
5  1  8  7  3
6  8  7  7  9
7  8  5  2  7
8  5  7  7  4
9  3  9  4  8

In [38]:
w[w > 7]

     A    B   C    D
0  NaN  8.0 NaN  NaN
1  8.0  NaN NaN  NaN
2  8.0  8.0 NaN  9.0
3  NaN  9.0 NaN  9.0
4  8.0  NaN NaN  NaN
5  NaN  8.0 NaN  NaN
6  8.0  NaN NaN  9.0
7  8.0  NaN NaN  NaN
8  NaN  NaN NaN  NaN
9  NaN  9.0 NaN  8.0

In [39]:
w.where(w > 7)

     A    B   C    D
0  NaN  8.0 NaN  NaN
1  8.0  NaN NaN  NaN
2  8.0  8.0 NaN  9.0
3  NaN  9.0 NaN  9.0
4  8.0  NaN NaN  NaN
5  NaN  8.0 NaN  NaN
6  8.0  NaN NaN  9.0
7  8.0  NaN NaN  NaN
8  NaN  NaN NaN  NaN
9  NaN  9.0 NaN  8.0

In [40]:
w.where(w > 5, -77)

    A   B   C   D
0 -77   8 -77 -77
1   8 -77 -77 -77
2   8   8 -77   9
3   6   9   6   9
4   8   6 -77 -77
5 -77   8   7 -77
6   8   7   7   9
7   8 -77 -77   7
8 -77   7   7 -77
9 -77   9 -77   8

In [41]:
w.mask(w > 5)

     A    B    C    D
0  1.0  NaN  1.0  3.0
1  NaN  2.0  4.0  4.0
2  NaN  NaN  2.0  NaN
3  NaN  NaN  NaN  NaN
4  NaN  NaN  2.0  5.0
5  1.0  NaN  NaN  3.0
6  NaN  NaN  NaN  NaN
7  NaN  5.0  2.0  NaN
8  5.0  NaN  NaN  4.0
9  3.0  NaN  4.0  NaN

#### Query

In [42]:
w[(w.A < w.B) & (w.B < w.C)]

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [43]:
w.query('(A < B) & (B < C)')

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [44]:
w.query('A < B & B < C')

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [45]:
w.query('A < B and B < C')

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [46]:
w.query('A < B < C')

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [47]:
w.query('A not in B')

   A  B  C  D
0  1  8  1  3
5  1  8  7  3
9  3  9  4  8

In [48]:
w.query('A not in [1, 2, 3]')

   A  B  C  D
1  8  2  4  4
2  8  8  2  9
3  6  9  6  9
4  8  6  2  5
6  8  7  7  9
7  8  5  2  7
8  5  7  7  4

In [49]:
w.query('A != [1, 2, 3]')

   A  B  C  D
1  8  2  4  4
2  8  8  2  9
3  6  9  6  9
4  8  6  2  5
6  8  7  7  9
7  8  5  2  7
8  5  7  7  4

### Stack / unstack

In [50]:
s = DataFrame(numpy.random.randint(10, 20, size=(5, 4)), columns=list('ABCD'))
s

    A   B   C   D
0  17  13  10  16
1  11  16  13  16
2  12  13  16  19
3  17  16  16  13
4  17  12  12  10

In [51]:
s.stack()

0  A    17
   B    13
   C    10
   D    16
1  A    11
   B    16
   C    13
   D    16
2  A    12
   B    13
   C    16
   D    19
3  A    17
   B    16
   C    16
   D    13
4  A    17
   B    12
   C    12
   D    10
dtype: int64

In [52]:
s.unstack()

A  0    17
   1    11
   2    12
   3    17
   4    17
B  0    13
   1    16
   2    13
   3    16
   4    12
C  0    10
   1    13
   2    16
   3    16
   4    12
D  0    16
   1    16
   2    19
   3    13
   4    10
dtype: int64

## Aggregate

In [53]:
adf = DataFrame(numpy.random.randint(10, 20, size=(10, 4)), columns=list('ABCD'))

adf.iloc[3:5,0] = numpy.nan
adf.iloc[4:6,1] = numpy.nan
adf.iloc[5:8,2] = numpy.nan
adf

      A     B     C   D
0  15.0  14.0  17.0  17
1  12.0  16.0  15.0  14
2  16.0  10.0  18.0  14
3   NaN  16.0  15.0  18
4   NaN   NaN  10.0  17
5  12.0   NaN   NaN  19
6  15.0  14.0   NaN  16
7  14.0  16.0   NaN  16
8  10.0  18.0  12.0  16
9  17.0  17.0  18.0  17

In [54]:
adf.mean()

A    13.875
B    15.125
C    15.000
D    16.400
dtype: float64

In [55]:
adf.mean(numeric_only=True)

A    13.875
B    15.125
C    15.000
D    16.400
dtype: float64

In [56]:
adf.median()

A    14.5
B    16.0
C    15.0
D    16.5
dtype: float64

In [57]:
adf.var()

A    5.553571
B    6.125000
C    9.333333
D    2.488889
dtype: float64

## Multiindex

http://pandas.pydata.org/pandas-docs/stable/advanced.html

### Simple series

In [58]:
arrays = [['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
          ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]

tuples = list(zip(*arrays))
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [59]:
index = pandas.MultiIndex.from_tuples(tuples, names=['first', 'second'])
index

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

In [60]:
s = pandas.Series(numpy.random.randn(8), index=index)
s

first  second
bar    one      -0.037870
       two      -2.696971
baz    one      -0.979061
       two       1.040790
foo    one      -0.800508
       two       0.533617
qux    one       0.059308
       two       1.338352
dtype: float64

In [61]:
d = DataFrame(numpy.random.randn(8), index=index, columns=['data'])
d

                  data
first second
bar   one    -1.194602
      two     0.274728
baz   one    -0.459302
      two    -0.534631
foo   one    -0.337227
      two     0.545972
qux   one    -0.741371
      two     0.575223

In [62]:
d['foo':'one']

                  data
first second
foo   one    -0.337227
      two     0.545972

### DataFrame

In [63]:
arrays = [numpy.array(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux']),
          numpy.array(['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two'])]
arrays

[array(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
       dtype='<U3'),
 array(['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two'],
       dtype='<U3')]

In [64]:
# And directly from array:
arrays = [['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
          ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]
arrays

[['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
 ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]

In [65]:
df = pandas.DataFrame(numpy.random.randn(8, 4), index=arrays, columns=list('ABCD'))
df

                A         B         C         D
bar one  0.479351 -0.751779 -0.595712 -0.398652
    two -2.739817 -0.224204  0.769353 -1.085806
baz one -0.184855 -0.164818 -1.071680  1.186269
    two  0.405757  0.337087 -0.145867 -0.718322
foo one  0.517153 -0.485850  1.721578  1.353920
    two -0.560537  0.623954  0.689739 -0.783044
qux one  0.166813  1.235022  0.375086 -2.769104
    two  2.883265  0.810427  0.923070  1.103908

In [66]:
df.A

bar  one    0.479351
     two   -2.739817
baz  one   -0.184855
     two    0.405757
foo  one    0.517153
     two   -0.560537
qux  one    0.166813
     two    2.883265
Name: A, dtype: float64

In [67]:
df.A['bar']

one    0.479351
two   -2.739817
Name: A, dtype: float64

## Манипуляции с DataFrame: add row/max/row iteration

### Create from nested dict (from_dict)

In [68]:
res = {
    'one': {'A': 1, 'B': 2, 'C': [1, 2, 3], 'D': {'res': 123, 'res1': 321}}
    ,'two': {'A': 11, 'B': 22, 'C': [11, 22, 33], 'D': {'res': 1230}}
    ,'three': {'A': 111, 'B': 222, 'C': [111, 222, 333], 'D': {'res': 12300}}
    ,'four': {'A': 1111, 'B': 2222, 'C': [1111, 2222, 3333], 'D': {'res': 123000}}
}
res

{'one': {'A': 1, 'B': 2, 'C': [1, 2, 3], 'D': {'res': 123, 'res1': 321}},
 'two': {'A': 11, 'B': 22, 'C': [11, 22, 33], 'D': {'res': 1230}},
 'three': {'A': 111, 'B': 222, 'C': [111, 222, 333], 'D': {'res': 12300}},
 'four': {'A': 1111, 'B': 2222, 'C': [1111, 2222, 3333], 'D': {'res': 123000}}}

In [69]:
df = DataFrame(res)
df

,one,two,three,four
A,1,11,111,1111
B,2,22,222,2222
C,"[1, 2, 3]","[11, 22, 33]","[111, 222, 333]","[1111, 2222, 3333]"
D,"{'res': 123, 'res1': 321}",{'res': 1230},{'res': 12300},{'res': 123000}

In [70]:
df.T

          A     B                   C                          D
one       1     2           [1, 2, 3]  {'res': 123, 'res1': 321}
two      11    22        [11, 22, 33]              {'res': 1230}
three   111   222     [111, 222, 333]             {'res': 12300}
four   1111  2222  [1111, 2222, 3333]            {'res': 123000}

In [71]:
# http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.from_dict.html
df = DataFrame.from_dict(res, orient='index').sort_index(axis=1)
df

          A     B                   C                          D
one       1     2           [1, 2, 3]  {'res': 123, 'res1': 321}
two      11    22        [11, 22, 33]              {'res': 1230}
three   111   222     [111, 222, 333]             {'res': 12300}
four   1111  2222  [1111, 2222, 3333]            {'res': 123000}

#### DataFrame.from_records

https://github.com/pydata/pandas/issues/1744

In [72]:
d = DataFrame.from_records(df.D.values, index=df.D.index)
d

          res   res1
one       123  321.0
two      1230    NaN
three   12300    NaN
four   123000    NaN

#### DataFrame concat

In [73]:
pandas.concat([df, d], axis=1)

,A,B,C,D,res,res1
one,1,2,"[1, 2, 3]","{'res': 123, 'res1': 321}",123,321.0
two,11,22,"[11, 22, 33]",{'res': 1230},1230,NaN
three,111,222,"[111, 222, 333]",{'res': 12300},12300,NaN
four,1111,2222,"[1111, 2222, 3333]",{'res': 123000},123000,NaN

#### DataFrame apply(lambda)

In [74]:
d1 = df.D.apply(lambda it: it['res'])
d1

one         123
two        1230
three     12300
four     123000
Name: D, dtype: int64

In [75]:
pandas.concat([df, d1], axis=1)

          A     B                   C                          D       D
one       1     2           [1, 2, 3]  {'res': 123, 'res1': 321}     123
two      11    22        [11, 22, 33]              {'res': 1230}    1230
three   111   222     [111, 222, 333]             {'res': 12300}   12300
four   1111  2222  [1111, 2222, 3333]            {'res': 123000}  123000

#### DataFrame join()

In [76]:
df.join(d1, rsuffix='score')

          A     B                   C                          D  Dscore
one       1     2           [1, 2, 3]  {'res': 123, 'res1': 321}     123
two      11    22        [11, 22, 33]              {'res': 1230}    1230
three   111   222     [111, 222, 333]             {'res': 12300}   12300
four   1111  2222  [1111, 2222, 3333]            {'res': 123000}  123000

In [77]:
# http://stackoverflow.com/questions/19758364/python-rename-single-column-header-in-pandas-dataframe
df.join(d1, rsuffix='score').rename(columns={'Dscore': 'res'})

          A     B                   C                          D     res
one       1     2           [1, 2, 3]  {'res': 123, 'res1': 321}     123
two      11    22        [11, 22, 33]              {'res': 1230}    1230
three   111   222     [111, 222, 333]             {'res': 12300}   12300
four   1111  2222  [1111, 2222, 3333]            {'res': 123000}  123000

### Добавление к каждому элементу (elementwise add)

In [78]:
d.add(11)

          res   res1
one       134  332.0
two      1241    NaN
three   12311    NaN
four   123011    NaN

In [79]:
d.radd(10)

          res   res1
one       133  331.0
two      1240    NaN
three   12310    NaN
four   123010    NaN

In [80]:
d += [ 10, 100 ]
d

          res   res1
one       133  421.0
two      1240    NaN
three   12310    NaN
four   123010    NaN

### Добавление строки (add row)

In [81]:
d.loc[len(d)] = (10, 20)
d

          res   res1
one       133  421.0
two      1240    NaN
three   12310    NaN
four   123010    NaN
4          10   20.0

### Добавление столбца (add column)

http://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

In [82]:
# d.addon = ...
# d['addon'] = numpy.random.randint(1, 10, size=5)
# Will lead: ValueError: Length of values does not match length of index

#### Добавление нескольких столбцов (concat)

In [83]:
add = DataFrame(numpy.random.randint(1, 10, size=(5, 4)), columns=list('ABCD'), index=d.index)
#add.drop(add.index[[4,5]], inplace=True)
add

       A  B  C  D
one    5  4  2  2
two    9  7  3  3
three  1  7  1  5
four   5  8  4  5
4      2  2  4  1

In [84]:
pandas.concat([d, add], axis=1)

          res   res1  A  B  C  D
one       133  421.0  5  4  2  2
two      1240    NaN  9  7  3  3
three   12310    NaN  1  7  1  5
four   123010    NaN  5  8  4  5
4          10   20.0  2  2  4  1

#### Добавление нескольких столбцов с РАЗНОЙ индексацией

In [85]:
add = DataFrame(numpy.random.randint(1, 10, size=(5, 4)), columns=list('ABCD'), index=[1, 2, 3, 7, 9])
#add.drop(add.index[[4,5]], inplace=True)
add

   A  B  C  D
1  5  3  4  6
2  6  3  3  6
3  4  8  7  6
7  3  5  8  9
9  4  3  8  8

In [86]:
pandas.concat([d, add], axis=1)

            res   res1    A    B    C    D
1           NaN    NaN  5.0  3.0  4.0  6.0
2           NaN    NaN  6.0  3.0  3.0  6.0
3           NaN    NaN  4.0  8.0  7.0  6.0
4          10.0   20.0  NaN  NaN  NaN  NaN
7           NaN    NaN  3.0  5.0  8.0  9.0
9           NaN    NaN  4.0  3.0  8.0  8.0
four   123010.0    NaN  NaN  NaN  NaN  NaN
one       133.0  421.0  NaN  NaN  NaN  NaN
three   12310.0    NaN  NaN  NaN  NaN  NaN
two      1240.0    NaN  NaN  NaN  NaN  NaN

In [87]:
# pandas.concat([d, add], axis=1, join_axes=[d.index])
#??? TypeError: concat() got an unexpected keyword argument 'join_axes'

In [88]:
pandas.concat([d, add], axis=1, ignore_index=True)

              0      1    2    3    4    5
1           NaN    NaN  5.0  3.0  4.0  6.0
2           NaN    NaN  6.0  3.0  3.0  6.0
3           NaN    NaN  4.0  8.0  7.0  6.0
4          10.0   20.0  NaN  NaN  NaN  NaN
7           NaN    NaN  3.0  5.0  8.0  9.0
9           NaN    NaN  4.0  3.0  8.0  8.0
four   123010.0    NaN  NaN  NaN  NaN  NaN
one       133.0  421.0  NaN  NaN  NaN  NaN
three   12310.0    NaN  NaN  NaN  NaN  NaN
two      1240.0    NaN  NaN  NaN  NaN  NaN

In [89]:
add.index=d.index
pandas.concat([d, add], axis=1)

          res   res1  A  B  C  D
one       133  421.0  5  3  4  6
two      1240    NaN  6  3  3  6
three   12310    NaN  4  8  7  6
four   123010    NaN  3  5  8  9
4          10   20.0  4  3  8  8

### Replace columns

#### Same amount

In [90]:
df = DataFrame(numpy.random.randint(1, 10, size=(8, 5)), columns=list('ABCDE'))
df.drop(df.index[[4,5]], inplace=True)
df

   A  B  C  D  E
0  3  9  7  2  5
1  6  6  4  1  3
2  1  8  5  2  6
3  7  7  8  9  9
6  4  2  1  2  7
7  6  6  8  7  3

In [91]:
rep = DataFrame(numpy.random.randn(6,3), columns=list('abc'))
rep

          a         b         c
0 -0.973346 -0.291979  1.384523
1  0.167610  0.852961 -0.168808
2  1.113061  0.913952 -0.763057
3 -0.003409  0.098280  0.710590
4  2.227534 -1.277980 -0.723055
5  1.561839  0.059169 -0.198323

In [92]:
df[['B','C']] = rep[['b', 'c']]
df
# Unfortunately only same amount of rows. So:
# res[['auc_roc','time_elapsed']] = rep
# will lead to error: ValueError: Columns must be same length as key

   A         B         C  D  E
0  3 -0.291979  1.384523  2  5
1  6  0.852961 -0.168808  1  3
2  1  0.913952 -0.763057  2  6
3  7  0.098280  0.710590  9  9
6  4       NaN       NaN  2  7
7  6       NaN       NaN  7  3

#### Different columns (drop 2, add 3)

In [93]:
df.drop(
    ['B','C'], axis=1
    #, inplace=True
).join(rep)

   A  D  E         a         b         c
0  3  2  5 -0.973346 -0.291979  1.384523
1  6  1  3  0.167610  0.852961 -0.168808
2  1  2  6  1.113061  0.913952 -0.763057
3  7  9  9 -0.003409  0.098280  0.710590
6  4  2  7       NaN       NaN       NaN
7  6  7  3       NaN       NaN       NaN

#### Do NOT preserve indexes

In [94]:
rep_ = rep[['b', 'c']]
rep_.index = df[['B','C']].index
rep_
df[['B','C']] = rep_
df

   A         B         C  D  E
0  3 -0.291979  1.384523  2  5
1  6  0.852961 -0.168808  1  3
2  1  0.913952 -0.763057  2  6
3  7  0.098280  0.710590  9  9
6  4 -1.277980 -0.723055  2  7
7  6  0.059169 -0.198323  7  3

In [95]:
#rep_ = rep[['b', 'c']]
#rep_.index = df[['B','C']].index
#rep_
#df << rep_
#df

#??? TypeError: unsupported operand type(s) for <<: 'DataFrame' and 'DataFrame'

### Удаление строк (row remove)

http://stackoverflow.com/questions/14661701/how-to-drop-a-list-of-rows-from-pandas-dataframe

In [96]:
d.drop(d.index[[1,3]])

         res   res1
one      133  421.0
three  12310    NaN
4         10   20.0

In [97]:
d.index[[1,3]]

Index(['two', 'four'], dtype='object')

In [98]:
d.drop(d.index[[2]])

         res   res1
one      133  421.0
two     1240    NaN
four  123010    NaN
4         10   20.0

In [99]:
d.drop(d.index[2])

         res   res1
one      133  421.0
two     1240    NaN
four  123010    NaN
4         10   20.0

### Удаление столбцов (column remove)

In [100]:
rm = DataFrame(numpy.random.randn(10,3), columns=list('ABC'))
rm

          A         B         C
0 -0.586438  1.915910  0.000404
1  0.505076  1.055403 -1.436197
2  0.063189 -0.183239  0.199857
3 -0.559880  1.870335  0.756060
4 -1.513214 -0.492525 -0.771845
5 -1.480082 -0.315035  0.421150
6  0.726358 -0.337403 -1.255467
7 -0.660284 -1.414345  0.225802
8 -0.957532  0.317615  0.444829
9  0.373756 -1.352563 -0.028696

#### Safe remove if exists

In [101]:
# Second time:
rm.drop(['B', 'C'], axis=1, inplace=True)
rm
# ValueError: labels ['B' 'C'] not contained in axis

          A
0 -0.586438
1  0.505076
2  0.063189
3 -0.559880
4 -1.513214
5 -1.480082
6  0.726358
7 -0.660284
8 -0.957532
9  0.373756

In [102]:
# For intersection see http://localhost:8888/notebooks/final.assignment/Kaggle/ArraysSandbox.ipynb#Intersection
rm.drop(set(rm.columns) & set(['B', 'C']), axis=1, inplace=True)
rm

          A
0 -0.586438
1  0.505076
2  0.063189
3 -0.559880
4 -1.513214
5 -1.480082
6  0.726358
7 -0.660284
8 -0.957532
9  0.373756

### String format of row (row unpacking)

In [103]:
d = DataFrame([[1, 2], [3, 8], [7, 8], [12, 9], [17, 18]], columns=['train', 'test'])
d.index = [10, 20, 30, 40, 50]

In [104]:
"train={train}; test={test}".format(**d.loc[10])

'train=1; test=2'

### Columns string concat

In [105]:
res

{'one': {'A': 1, 'B': 2, 'C': [1, 2, 3], 'D': {'res': 123, 'res1': 321}},
 'two': {'A': 11, 'B': 22, 'C': [11, 22, 33], 'D': {'res': 1230}},
 'three': {'A': 111, 'B': 222, 'C': [111, 222, 333], 'D': {'res': 12300}},
 'four': {'A': 1111, 'B': 2222, 'C': [1111, 2222, 3333], 'D': {'res': 123000}}}

In [106]:
# http://stackoverflow.com/questions/19377969/combine-two-columns-of-text-in-dataframe-in-pandas-python
res['n&time'] = res.n_estimators.astype(str).str.cat(res.time_elapsed.astype(str), sep='\n')
res

AttributeError: 'dict' object has no attribute 'n_estimators'

In [ ]:
# http://stackoverflow.com/questions/20025882/append-string-to-the-start-of-each-value-in-a-said-column-of-a-pandas-dataframe
res['n&time'] = 'n_estimators=' + res.time_elapsed.astype(str) + '\n<br />'
res

### Column names suffiexes/prefixes

In [ ]:
res.add_suffix(':some')

In [ ]:
res.add_prefix('some:')

### Map, apply

In [ ]:
sdf.A.map(lambda x: x > 5)

In [ ]:
d1 = df.D.apply(lambda it: it['res'])
d1

## Nan, Nulls

http://pandas.pydata.org/pandas-docs/stable/missing_data.html#filling-with-a-pandasobject

Good example: http://chrisalbon.com/python/pandas_missing_data.html

In [ ]:
dff = DataFrame(numpy.random.randn(10,3), columns=list('ABC'))
dff.iloc[3:5,0] = numpy.nan
dff.iloc[4:6,1] = numpy.nan
dff.iloc[5:8,2] = numpy.nan
dff

In [ ]:
pd.isnull(dff)

In [ ]:
dff.isnull()

In [ ]:
# http://stackoverflow.com/questions/14247586/python-pandas-how-to-select-rows-with-one-or-more-nulls-from-a-dataframe-without
dff.isnull().any(axis=1)

In [ ]:
dff.isnull().any(axis=0)

### Count nulls

http://stackoverflow.com/questions/29971075/count-number-of-non-nan-entries-in-every-column-of-dataframe

Count not-Nulls:
http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.count.html

Count Nulls:
http://stackoverflow.com/questions/30059260/python-pandas-counting-the-number-of-nan-in-each-row

In [ ]:
dff

In [ ]:
# Count not-Nulls by column
dff.count(axis=0)

In [ ]:
# Count not-Nulls by row
dff.count(axis=1)

In [ ]:
# http://stackoverflow.com/questions/30059260/python-pandas-counting-the-number-of-nan-in-each-row
# Count Nulls
dff.isnull().sum()

### Rows with NaN in any column

http://stackoverflow.com/questions/14247586/python-pandas-how-to-select-rows-with-one-or-more-nulls-from-a-dataframe-without

In [ ]:
dff[ dff.isnull().any(axis=1) ]

### Fillna gaps

http://pandas.pydata.org/pandas-docs/stable/missing_data.html#filling-with-a-pandasobject

In [ ]:
dff = DataFrame(numpy.random.randn(10,3), columns=list('ABC'))
dff.iloc[3:5,0] = numpy.nan
dff.iloc[4:6,1] = numpy.nan
dff.iloc[5:8,2] = numpy.nan
dff

In [ ]:
dff.mean()

In [ ]:
dff.fillna(dff.mean())

In [ ]:
dff.fillna(dff.mean()['B':'C'])

#### Interpolate
http://pandas.pydata.org/pandas-docs/stable/missing_data.html#interpolation

In [ ]:
dff

In [ ]:
dff.interpolate()

In [ ]:
#%matplotlib notebook
%matplotlib inline
dff.plot(title="Original data")
dff.interpolate().plot(title="Base interpolate (values?)")
dff.interpolate(method='quadratic').plot(title="method='quadratic'")

In [ ]:
dff.plot(title="Original data")

In [ ]:
for method in ['linear', 'index', 'values', 'nearest', 'zero',
              'slinear', 'quadratic', 'cubic', 'barycentric', 'krogh'
              ,'pchip']: # + 'time'
            # 'piecewise_polynomial' produce: ZeroDivisionError: integer division or modulo by zero
            print (method)
            dff.interpolate(method=method).plot(title="method='{}'".format(method))

for method in ['polynomial', 'spline']:
    for order in range(1, 5):
        print (method, order)
        dff.interpolate(method=method, order=order).plot(title="method='{}', order={}".format(method, order))

In [ ]:
help(dff.interpolate)

In [ ]:
# dff.interpolate(method='piecewise_polynomial')
# ZeroDivisionError: integer division or modulo by zero
# @BUG https://github.com/pydata/pandas/issues/10365

##### Krogh

In [ ]:
dff.interpolate(method='krogh')

In [ ]:
features = pandas.read_csv('features.csv', index_col='match_id')
features.head()

In [ ]:
# Count Nulls
cnt = features.isnull().sum()
cnt[cnt > 0]

In [ ]:
features.interpolate(method='krogh', inplace=True)

In [ ]:
# Count Nulls
cnt = features.isnull().sum()
cnt[cnt > 0]

## DataFrame diff

http://stackoverflow.com/questions/17095101/outputting-difference-in-two-pandas-dataframes-side-by-side-highlighting-the-d

In [ ]:
a1 = DataFrame(numpy.random.randint(5, 10, size=(7, 3)), columns=list('ABC'))
a1.drop(a1.index[[4,5]], inplace=True)
a1

In [ ]:
b1 = a1.copy()
b1.loc[0,'C'] = numpy.nan
b1.loc[1,'A'] = 77
b1.loc[3,'B'] = 777
#b1.iloc[4,2] = 7777
b1.loc[6,'C'] = 7777 # Equivalent to iloc above. Note 4 an 6 row num difference because index not sequential!
# Add row will not work: a[a != b]: ValueError: Can only compare identically-labeled DataFrame objects
# b.loc[len(b)] = ( 1, 11, 111 )
b1

### Direct !=

In [ ]:
# http://stackoverflow.com/a/17095364/307525
a1 != b1

In [ ]:
a1[a1 != b1]

In [ ]:
# Show only rows with diff
a1_diff = a1[a1 != b1]
a1_diff[a1_diff.notnull().any(axis=1)]

In [ ]:
# Show only rows with diff. One line
a1[a1 != b1][numpy.any(a1 != b1, axis=1)]

In [ ]:
a1[a1 != b1][numpy.any(a1 != b1, axis=1)].join(DataFrame('a<->b', index=a1.index, columns=['a<=>b'])).join(
        b1[a1 != b1][numpy.any(a1 != b1, axis=1)]
        ,lsuffix='_a'
).fillna('')

#### function DataFrameDiff

In [ ]:
def DataFrameDiff(a_, b_, sep='a<->b', head_n=10, drop_empty_columns=True):
    a = a_.sort_index(axis=1)
    b = b_.sort_index(axis=1)
    diff = a[a != b][numpy.any(a != b, axis=1)].join(DataFrame(sep, index=a.index, columns=['a<=>b'])).join(
            b[a != b][numpy.any(a != b, axis=1)]
            ,lsuffix='_a'
    ).fillna('')

    print ('Diff shape: ', diff.shape)
    diff = diff.head(head_n)
    if drop_empty_columns:
        return diff[diff.columns[(diff != '').any()]]
    else:
        return diff

In [ ]:
DataFrameDiff(a1, b1)

### Compare not identical DataFrames

http://stackoverflow.com/questions/20225110/comparing-two-dataframes-and-getting-the-differences

In [ ]:
b3 = b2.drop(['C'], axis=1)
b3

In [ ]:
# DataFrameDiff(a1, b3)
# ValueError: Can only compare identically-labeled DataFrame objects

In [ ]:
df = pandas.concat([a1, b3])
df = df.reset_index(drop=True)

# group by
df_gpby = df.groupby(list(a1.columns))

# get index of unique records
idx = [x[0] for x in df_gpby.groups.values() if len(x) == 1]

# filter
df.reindex(idx)

#df

### Sort columns (Workaround ValueError: Can only compare identically-labeled DataFrame objects)

In [ ]:
# Same data, different column order
# NOT dataframe copy, new instead
b2 = DataFrame('', index=a1.index, columns=list('CBA'))
b2.C = a1.C
b2.B = a1.B
b2.A = a1.A

b2.loc[0,'C'] = numpy.nan
b2.loc[1,'A'] = 77
b2.loc[3,'A'] = 777
#b2.iloc[4,2] = 7777
b2.loc[6,'C'] = 7777 # Equivalent to iloc above. Note 4 an 6 row num difference because index not sequential!
b2

In [ ]:
# a1 != b2
# ValueError: Can only compare identically-labeled DataFrame objects

In [ ]:
a1

In [ ]:
b2.sort_index(axis=1)

In [ ]:
a1 != b2.sort_index(axis=1)

In [ ]:
DataFrameDiff(a1, b1)

In [ ]:
DataFrameDiff(a1, b2)

### DataFrame columns correlations

Example from: http://stackoverflow.com/questions/24002820/returning-groups-of-correlated-columns-in-pandas-data-frame

In [ ]:
df = pandas.DataFrame( {'one':[0.1, .32, .2, 0.4, 0.8], 'two':[.23, .18, .56, .61, .12], 'three':[.9, .3, .6, .5, .3], 'four':[.34, .75, .91, .19, .21], 'zive': [0.1, .32, .2, 0.4, 0.8], 'six':[.9, .3, .6, .5, .3], 'drive':[.9, .3, .6, .5, .3]})

corr = df.corr()
corr

In [ ]:
# See PlotSandbox.ipynb
import matplotlib.pyplot as plt
%matplotlib inline
plt.matshow(corr)

#### Find tight correlated: Full solution http://stackoverflow.com/questions/24002820/returning-groups-of-correlated-columns-in-pandas-data-frame

In [ ]:
cor = corr
cor.loc[:] = numpy.tril(cor, k=-1)
cor = cor.stack()
cor[cor > 0.9]

##### Step-by-step

In [ ]:
cor = corr
numpy.tril(cor, k=-1)

In [ ]:
cor.loc[:,:] = numpy.tril(cor, k=-1)
cor

In [ ]:
cor = cor.stack()
cor

In [ ]:
cor[cor > 0.9]

## Statistics statsmodel

http://stackoverflow.com/questions/22054964/ols-regression-scikit-vs-statsmodels

http://statsmodels.sourceforge.net/devel/example_formulas.html

In [ ]:
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression

# Generate artificial data (2 regressors + constant)
nobs = 100 
X = numpy.random.random((nobs, 2)) 
X = sm.add_constant(X)
beta = [1, .1, .5] 
e = numpy.random.random(nobs)
y = numpy.dot(X, beta) + e 

X

In [ ]:
y

In [ ]:
# Fit regression model
sm.OLS(y, X).fit().params
#>> array([ 1.4507724 ,  0.08612654,  0.60129898])

In [ ]:
LinearRegression(fit_intercept=False).fit(X, y).coef_
#>> array([ 1.4507724 ,  0.08612654,  0.60129898])

### Formulas

In [ ]:
res = DataFrame(columns=['n_estimators', 'auc_roc', 'time_elapsed']);
res.loc[len(res)] = [ 10, 0.71, 100 ]
res.loc[len(res)] = [ 20, 0.72, 200 ]
res.loc[len(res)] = [ 30, 0.73, 300 ]
res.loc[len(res)+1] = [ 40, 0.74, 400 ]
res.loc[len(res)+2] = [ 50, 0.70, 500 ]
res

In [ ]:
y, X = dmatrices('levels ~ week + character + guild')

# Dict

In [ ]:
result = []
result.append({'testName': 'one', 'date': [1, 2, 3], 'desc': 'Some description'})
result

In [ ]:
res = {}
res['secondTest'] = {'description': 'Some description of data', 'data': [1, 2, 3]}
res['thirdTest'] = {'description': 'Some another data', 'data': numpy.round(numpy.random.randn(4), 2)}
res

## Check key present

In [ ]:
d = {'one': 1, 'two': 2}
d

In [ ]:
print ('one' in d)

# Series

## Indexing

http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-with-isin
found interesting example: `numpy.arange(5)[::-1]`

In [ ]:
numpy.arange(5)[::-1]

In [ ]:
s = numpy.arange(5)
s

In [ ]:
s[0]

In [ ]:
s[:]

In [ ]:
s[::]

In [ ]:
s[:-1:]

In [ ]:
s[:3]

In [ ]:
s[::2]

### is in

http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-with-isin

In [ ]:
s = pd.Series(numpy.arange(5), index=numpy.arange(5)[::-1], dtype='int64')
s

In [ ]:
s.isin([2, 4, 6])

In [ ]:
In [130]: s[s.isin([2, 4, 6])]

## Random

In [ ]:
numpy.random.randn(5, 3)

In [ ]:
numpy.random.randn(3)

In [ ]:
numpy.random.randn()

In [ ]:
numpy.random.random(5)

In [ ]:
# Example from help: Two-by-four array of samples from N(3, 6.25):
2.5 * numpy.random.randn(2, 4) + 3

In [ ]:
numpy.ceil(numpy.random.randn(4))

In [ ]:
numpy.round(numpy.random.randn(4), 2)

In [ ]:
numpy.random.standard_normal()

In [ ]:
numpy.random.standard_normal(3)

In [ ]:
numpy.random.randint(1, 10)

In [ ]:
numpy.random.randint(5, 10, size=(4, 2))

## Time series

In [ ]:
# http://stackoverflow.com/questions/23543909/plotting-pandas-timedelta
pandas.to_timedelta(numpy.arange(5),unit='s')

In [ ]:
pandas.to_timedelta(abs(numpy.random.randn(5)) * 10, unit='s')

In [ ]:
pandas.to_timedelta(abs(numpy.random.randn()) * 10, unit='s')

### Time measure
http://stackoverflow.com/questions/85451/python-time-clock-vs-time-time-accuracy

https://docs.python.org/3/library/time.html#time.perf_counter

https://docs.python.org/3/library/time.html#time.process_time

In [ ]:
# Borrowed from https://gist.github.com/zed/5073409 (http://stackoverflow.com/questions/15176619/timing-the-cpu-time-of-a-python-program)
# implementation of process_time function for Python 2 (backport)
"""time.process_time() and time.perf_counter() for Python 2"""
import ctypes
import errno
from ctypes.util import find_library
from functools import partial

CLOCK_PROCESS_CPUTIME_ID = 2  # time.h
CLOCK_MONOTONIC_RAW = 4

clockid_t = ctypes.c_int
time_t = ctypes.c_long


class timespec(ctypes.Structure):
    _fields_ = [
        ('tv_sec', time_t),         # seconds
        ('tv_nsec', ctypes.c_long)  # nanoseconds
    ]
_clock_gettime = ctypes.CDLL(find_library('rt'), use_errno=True).clock_gettime
_clock_gettime.argtypes = [clockid_t, ctypes.POINTER(timespec)]


def clock_gettime(clk_id):
    tp = timespec()
    if _clock_gettime(clk_id, ctypes.byref(tp)) < 0:
        err = ctypes.get_errno()
        msg = errno.errorcode[err]
        if err == errno.EINVAL:
            msg += (" The clk_id specified is not supported on this system"
                    " clk_id=%r") % (clk_id,)
        raise OSError(err, msg)
    return tp.tv_sec + tp.tv_nsec * 1e-9

try:
    from time import perf_counter, process_time
except ImportError:  # Python <3.3
    perf_counter = partial(clock_gettime, CLOCK_MONOTONIC_RAW)
    perf_counter.__name__ = 'perf_counter'
    process_time = partial(clock_gettime, CLOCK_PROCESS_CPUTIME_ID)
    process_time.__name__ = 'process_time'

if __name__ == "__main__":
    import random
    import time
    from itertools import repeat
    from timeit import Timer, default_timer

    print("process_time() doesn't include time.sleep(2):")
    timers = [default_timer, time.clock, process_time, perf_counter]
    start_times = [t() for t in timers]
    time.sleep(2)
    _ = sum(random.random() - f for f in repeat(.5, 1000000))
    for start, timer in zip(start_times, timers):
        print("\t%-12s %.3g" % (timer.__name__, timer() - start))

    # measure overhead
    print("overhead (execute `pass` statement):")
    n = 10000000
    for timer in timers:
        t = min(Timer(timer=timer).repeat(number=n)) / n
        print("\t%-12s  %.2f ns" % (timer.__name__, t*1e9))

In [ ]:
# Demonstration
import datetime

start_time = datetime.datetime.now()
cpu_start_time = process_time()
_ = sum(random.random() - f for f in repeat(.5, 10000000)) # Some "real" workload
time.sleep(2)
cpu_time_diff = process_time() - cpu_start_time
time_diff = datetime.datetime.now() - start_time
print ('start_time={}, cpu_start_time={}, time_diff={}, cpu_time_diff(seconds)={}, cpu_time_diff(hr)={}'.format(
    start_time, cpu_start_time, time_diff, cpu_time_diff, datetime.timedelta(seconds=cpu_time_diff)
))

## Date, Time

In [ ]:
# Pandas use different timedelta class: http://pandas.pydata.org/pandas-docs/stable/timedeltas.html
datetime.timedelta

In [ ]:
start_time = datetime.datetime.now()
time.sleep(2)
datetime.datetime.now() - start_time
start_time

In [ ]:
# http://stackoverflow.com/questions/3694487/python-initialize-a-datetime-object-with-seconds-since-epoch
print datetime.datetime.fromtimestamp(1284286794.123)

## numpy.zeros

In [ ]:
numpy.zeros((3, 6))

## Timedelta

Convert timedelta to milliseconds to plot: http://stackoverflow.com/questions/23543909/plotting-pandas-timedelta

In [ ]:
(pandas.to_timedelta(numpy.arange(5),unit='d')+pandas.to_timedelta(1,unit='s')).astype('timedelta64[ms]')

## Itertools

In [ ]:
# https://gist.github.com/zed/5073409
from itertools import repeat
list(repeat(.5, 10))

In [ ]:
numpy.power(10.0, numpy.arange(-3, 3))

In [ ]:
numpy.arange(5)

In [ ]:
list(range(5))

In [ ]:
list(range(3, 5))

In [ ]:
h = ['hero1', 'hero2', 'hero3', 'hero4', 'hero5']
list(range(len(h)))

In [ ]:
list( range(1, len(h)+1) )

In [ ]:
ids = [1, 2, 4, 5]
list( range(max(ids)+1) )

# Lists

## Intersection

In [ ]:
l1 = list("ABCDEF")
l1
l2 = list("BDFG")
# List intersection http://stackoverflow.com/questions/642763/python-intersection-of-two-lists
set(l1) & set(l2)

# Formatting

## HTML, %%asmarkdown cell magic

In [ ]:
# http://stackoverflow.com/a/13770691/307525
from IPython.core.display import HTML

raw_html = "<i>Yah, rendered HTML</i>"
HTML(raw_html)

In [ ]:
# %%asmarkdown cell magic
# Borrowed from http://guido.vonrudorff.de/ipython-notebook-code-output-as-markdown/
# (http://stackoverflow.com/questions/13770394/make-output-cells-like-markdown)
from __future__ import absolute_import
from IPython.core.getipython import get_ipython
from IPython.core.magic import (Magics, magics_class,  cell_magic)
import sys
from io import StringIO
from markdown import markdown
from IPython.core.display import HTML

@magics_class
class MarkdownMagics(Magics):

    @cell_magic
    def asmarkdown(self, line, cell):
        buffer = StringIO()
        stdout = sys.stdout
        sys.stdout = buffer
        try:
            exec(cell, locals(), self.shell.user_ns)
        except:
            sys.stdout = stdout
            raise
        sys.stdout = stdout
        return HTML("<p>{}</p>".format(markdown(buffer.getvalue(), extensions=['markdown.extensions.extra'])))
        return buffer.getvalue() + 'test'

get_ipython().register_magics(MarkdownMagics)

In [ ]:
%%asmarkdown
print ("""
<h2>Matplotlib's chart gallery (Click a chart to see the code to create it)</h2><br>
<div align="center"> <iframe title="Matplotlib Gallery" width="950"
height="250" src="http://matplotlib.org/gallery.html#api" frameborder="0"
allowfullscreen></iframe></div>
""")

## DataFrame formatting

http://pandas.pydata.org/pandas-docs/stable/options.html

http://stackoverflow.com/questions/15006298/how-to-preview-a-part-of-a-large-pandas-dataframe

http://stackoverflow.com/questions/11707586/python-pandas-widen-output-display

http://stackoverflow.com/questions/19124601/is-there-a-way-to-pretty-print-the-entire-pandas-series-dataframe

In [ ]:
#import pandas as pd
pd.set_option('display.notebook_repr_html', True)
# Both works, but add traing 0
#pd.set_option('display.precision', 20)
#pd.set_option('precision', 15)
print(pd.get_option('display.float_format'))
# Do NOT use scentific -E notation before 15 digits in length
pd.set_option('display.float_format', lambda f: '{:,.15f}'.format(f).rstrip('0.'))
fdf = pd.DataFrame(numpy.array([
            [2,4,0.01]
           ,[4,3,0.000001]
           ,[5,9,0.00000000001]]),columns=list('ABC'))
#print(HTML(fdf.to_html()))
print(fdf)
fdf

In [ ]:
'{:,.15f}'.format(0.0000123).rstrip('0')

In [ ]:
# http://pandas.pydata.org/pandas-docs/stable/generated/pandas.describe_option.html#pandas.describe_option
pd.describe_option()

# Categorical data

http://pandas.pydata.org/pandas-docs/stable/categorical.html

http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html#sklearn.preprocessing.OneHotEncoder

## Cast series

In [ ]:
s = pd.Series(['foo','bar']*1000)
s.head(15)

## Cast DataFrame columns

Have not found way for multiple columns at once

In [ ]:
cdf = DataFrame(numpy.random.randint(1, 50, size=(10, 4)), columns=list('ABCD'))
cdf

In [ ]:
cdf.dtypes

In [ ]:
for col in cdf.loc[:,'C':'D']:
    print (col)
    cdf[col] = cdf[col].astype('category')

cdf.dtypes

In [ ]:
# Try scale
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

cdf1 = DataFrame(scaler.fit_transform(cdf))
cdf1

In [ ]:
cdf1.dtypes

## Pandas get_dummies (words bag)

http://stackoverflow.com/questions/15021521/how-to-encode-a-categorical-variable-in-sklearn?lq=1

http://pandas.pydata.org/pandas-docs/stable/generated/pandas.get_dummies.html

In [ ]:
pd.get_dummies(cdf.D)

In [ ]:
pd.get_dummies(cdf, columns=['C', 'D'])

## sklearn.preprocessing.OneHotEncoder

http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html#sklearn-preprocessing-onehotencoder

In [ ]:
>>> from sklearn.preprocessing import OneHotEncoder
>>> enc = OneHotEncoder()
>>> enc.fit([[0, 0, 3], [1, 1, 0], [0, 2, 1], [1, 0, 2]])  

>>> enc.n_values_

>>> enc.feature_indices_

>>> enc.transform([[0, 1, 1]]).toarray()

## Memory consumption

http://pandas.pydata.org/pandas-docs/stable/categorical.html#categorical-memory

In [ ]:
# object dtype
s.nbytes

In [ ]:
# category dtype
sc = s.astype('category')
sc.head(15)

In [ ]:
sc.nbytes

## Cut (bucket ranging)

In [ ]:
df = pd.DataFrame({'value': numpy.random.randint(0, 100, 20)})
df

In [ ]:
labels = [ "{0} - {1}".format(i, i + 9) for i in range(0, 100, 10) ]
labels

In [ ]:
df['group'] = pd.cut(df.value, range(0, 105, 10), right=False, labels=labels)
df.head(10)

In [ ]:
df['group'].dtype

In [ ]:
df

In [ ]:
df.describe()

In [ ]:
df.group.describe()

# Fitting

My question http://stackoverflow.com/questions/36271166/how-to-get-comparable-and-reproducible-results-from-logisticregressioncv-and-gri

Good example how to provide parameters to classifier:
http://stackoverflow.com/questions/32889929/gridsearchcv-scoring-parameter-using-scoring-f1-or-scoring-none-by-default-u

Some speedup may be with different solvers also:
https://kwtrnka.wordpress.com/2015/10/21/feature-scaling-is-important-but-not-how-i-expected/

In [ ]:
import platform; print(platform.platform())
import sys; print("Python", sys.version)
import numpy; print("NumPy", numpy.__version__)
import scipy; print("SciPy", scipy.__version__)
import sklearn; print("Scikit-Learn", sklearn.__version__)

In [ ]:
from sklearn import datasets
boston = datasets.load_boston()
X = boston.data
y = boston.target

In [ ]:
y[y <= y.mean()] = 0; y[y > 0] = 1
y

## GridSearchCV

In [ ]:
import numpy as np
from sklearn.cross_validation import KFold
from sklearn.linear_model import LogisticRegression
from sklearn.grid_search import GridSearchCV
import datetime

start_time = datetime.datetime.now()

grid = {
    'C': numpy.power(10.0, numpy.arange(-10, 10))
#    , 'solver': ('newton-cg', 'lbfgs', 'liblinear')
     ,'solver': ['newton-cg']
}
fold = KFold(len(y), n_folds=5, shuffle=True, random_state=777)
clf = LogisticRegression(penalty='l2', random_state=777, max_iter=10000, tol=(10**-4), solver='netwon-cg')
gs = GridSearchCV(clf, grid, scoring='roc_auc', cv=fold, n_jobs=-1, verbose=True)
gs.fit(X, y)
print ('gs.best_params_:', gs.best_params_)
print ('gs.best_score_:', gs.best_score_)
print ('Time spent:', datetime.datetime.now() - start_time)
gs.grid_scores_

## LogisticRegressionCV

In [ ]:
from sklearn.linear_model import LogisticRegressionCV
start_time = datetime.datetime.now()

fold = KFold(len(y), n_folds=5, shuffle=True, random_state=777)

searchCV = LogisticRegressionCV(
    Cs=list(numpy.power(10.0, numpy.arange(-10, 10)))
    ,penalty='l2'
    ,scoring='roc_auc'
    ,cv=fold
    ,n_jobs=-1
    ,verbose=True
    ,random_state=777
    ,max_iter=10000
    ,fit_intercept=True
#    ,class_weight='balanced'
#    ,dual=True # ValueError: Solver lbfgs,sag,newton-cg supports only dual=False, got dual=True
    ,solver='newton-cg'
    ,tol=(10**-7)
)
searchCV.fit(X, y)

print ('.coef_:', searchCV.coef_)
print ('.intercept_:', searchCV.intercept_)
#print ('.Cs_:', searchCV.Cs_)
#print ('.coefs_paths_:', searchCV.coefs_paths_)
print ('.scores_:', searchCV.scores_)
print ('.C_:', searchCV.C_)
#print ('.n_iter_:', searchCV.n_iter_)
print ('Time spent:', datetime.datetime.now() - start_time)
#print ('Max auc_roc:', searchCV.scores_[1].max())  # is wrong see https://github.com/scikit-learn/scikit-learn/issues/6619
print ('Max auc_roc:', searchCV.scores_[1].mean(axis=0).max())  # is correct

# Serialization

https://docs.python.org/3/library/pickle.html#examples

http://stackoverflow.com/questions/4529815/saving-an-object-data-persistence-in-python

## Pickle

In [ ]:
class CustomClass:
    s = 'Some string'
    s1 = 's1_'
    s2 = 's2_'

In [ ]:
cc = CustomClass()

In [ ]:
# An arbitrary collection of objects supported by pickle.
data = {
    'a': [1, 2.0, 3, 4+6j],
    'b': ("character string", b"byte string"),
    'c': {None, True, False},
    'cc': cc
}

In [ ]:
import pickle

with open('test.pickle', 'wb') as f:
    # Pickle the 'data' dictionary using the highest protocol available.
    pickle.dump(data, f, pickle.HIGHEST_PROTOCOL)

In [ ]:
# Without protocol specification each time: http://stackoverflow.com/questions/4529815/saving-an-object-data-persistence-in-python
import pickle

with open('test.pickle', 'wb') as f:
    pickler = pickle.Pickler(f, -1)
    # Pickle the 'data' dictionary using the highest protocol available.
    pickler.dump(data)

In [ ]:
import pickle

with open('data.pickle', 'rb') as f:
    # The protocol version used is detected automatically, so we do not
    # have to specify it.
    data = pickle.load(f)

data

### So, we can't save/restore classes which changed :(

## Json

https://www.safaribooksonline.com/library/view/python-cookbook-3rd/9781449357337/ch06s02.html

http://robotfantastic.org/serializing-python-data-to-json-some-edge-cases.html ->
    http://jsonpickle.github.io/

In [ ]:
import json

# Writing JSON data
with open('test.json', 'w') as f:
     json.dump(data, f)

### jsonpickle

In [ ]:
import jsonpickle

print (jsonpickle.encode(data))

## Marshal

In [ ]:
import marshal

with open('test.marshal', 'w') as f:
     marshal.dump(data, f)

# Matching vectorize

In [ ]:
text = [
    'Алё. Петя, поищи в нашей базе Адольфа Швардсенеггера',
    'Вася Уткин, проживающий по адресу г. Санкт-Петербург...',
    'гражданин Уткин В., регион СПб...',
    'Разум дан человеку для того, чтобы он разумно жил, а не для того только, чтобы он понимал, что он неразумно живет.'
]

from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(min_df=1)
array = vectorizer.fit_transform(text)
array.toarray()

## CrossValidationScorer results

In [ ]:
from sklearn.preprocessing import StandardScaler


class CrossResults:
    '''Based on Results class, but more generalised to store just GridSearchCV instead of custom array of direct loop'''

    # All instance vars **must** be difined in constructor: http://localhost:8888/notebooks/final.assignment/Kaggle/FuncSandbox.ipynb#Class,-instance,-static-vars
    def __init__(self):
        self.res = {}

    def put(self, name, description, score, timeSpent):
        '''
        Store data for next comparations of runs.
        Score is just GridSearchCV object after fit() method called
        '''
        self.res[name] = {
            'description': description
            ,'spent': timeSpent
            ,'score': score
            ,'addTime': datetime.datetime.now()
        }

    def describe(self, comparedTo='init'):
        # See http://localhost:8888/notebooks/final.assignment/Kaggle/ArraysSandbox.ipynb#DataFrame.from_records
        df = DataFrame(self.res).T
        if 0 == len(self.res):
            return DataFrame(self.res)

        df = df \
            .join(df.score.apply(lambda it: it.best_score_), rsuffix='R') \
            .rename(columns={'scoreR': 'best_auc_roc'}) \
            .join(df.score.apply(lambda it: it.best_params_), rsuffix='R') \
            .rename(columns={'scoreR': 'best_params'}) \
            .drop({'score'}, axis=1) \
            .sort_values(by=['addTime'])

        # Add diff column
        df['AUC_ROC_diff'] = df.best_auc_roc - df.loc[comparedTo, 'best_auc_roc']
        # Move columns AUC_ROC_diff after best_auc_roc:
        # http://stackoverflow.com/questions/25122099/move-column-by-name-to-front-of-table-in-pandas
        cols = list(df.columns)
        cols.insert(cols.index('best_auc_roc') + 1, cols.pop(cols.index('AUC_ROC_diff')))
        return df.ix[:, cols]

    def describeBest(self, comparedTo='init'):
        '''
        Return only those tries which are better then one with name 'init'.
        Sort by AUC_ROC_diff DESC - Better firest!
        '''
        df = self.describe()
        return df[df.AUC_ROC_diff >=0].sort_values(by=['AUC_ROC_diff'], ascending=False)

    def __repr__(self):
        return str(self.describe())

In [ ]:
from sklearn.cross_validation import KFold
from pandas import DataFrame
import pandas
import numpy as np
import pickle
from sklearn.grid_search import GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

class CrossValidationScorer:
    '''
    Generilize first attempt LogisticCrossValidationScorer to different type of classifiers, not
    only LogisticRegression.
    Use GridSearchCV instead of custom parralel implementation. It lack of per loop timing statistic, but more
    generic in different parameters grid search!
    '''

    # All instance vars **must** be difined in constructor: http://localhost:8888/notebooks/final.assignment/Kaggle/FuncSandbox.ipynb#Class,-instance,-static-vars
    def __init__(self):
        self.features_ = None
        self.features_test_ = None

        self.X_trn_ = None
        self.y_trn_ = None
        self.X_tst_ = None

        self.c_search_result_ = None

        # Grid search instance fited and ready to predict
        self.gs = None

        # Predicted values from clf_ on test data
        self.y_pred_ = None

        self.results = CrossResults()

    def loadData(self, featuresFile='features.csv', featuresTestFile='features_test.csv'):
        # 1) Считайте таблицу с признаками из файла features.csv с помощью кода, приведенного выше.
        self.features_ = pandas.read_csv('features.csv', index_col='match_id')
        self.features_test_ = pandas.read_csv('features_test.csv', index_col='match_id')
        self.dataPrepare()

    def dataPrepare(self):
        # 1.1) Удалите признаки, связанные с итогами матча (они помечены в описании данных как отсутствующие в
        # тестовой выборке).
        self.y_trn_ = self.features_.radiant_win
        self.X_trn_ = self.features_.loc[:, 'start_time':'dire_first_ward_time']
        self.X_tst_ = self.features_test_.loc[:, 'start_time':'dire_first_ward_time']

    def getNanCounts(self):
        # 2) Проверьте выборку на наличие пропусков с помощью функции count(), которая для каждого столбца
        # показывает число заполненных значений. Много ли пропусков в данных? Запишите названия признаков, имеющих
        # пропуски, и попробуйте для
        # любых двух из них дать обоснование, почему их значения могут быть пропущены.

        trn_count = self.X_trn_.count()
        trn_with_nan = trn_count[ trn_count < self.X_trn_.shape[0] ]
        
        # Test data also
        tst_count = self.X_tst_.count()
        tst_with_nan = tst_count[ tst_count < self.X_tst_.shape[0] ]

        #first_blood_time               77677
        #first_blood_team               77677
        #first_blood_player1            77677
        #first_blood_player2            53243
        #radiant_bottle_time            81539
        #radiant_courier_time           96538
        #radiant_flying_courier_time    69751
        #radiant_first_ward_time        95394
        #dire_bottle_time               81087
        #dire_courier_time              96554
        #dire_flying_courier_time       71132
        #dire_first_ward_time           95404

        # Выше приведены признаки, количество значений которых меньше чем в данных результата. Таким образом они
        # с пропусками.
        # *) Первые 4 признака (first_blood_time, first_blood_team, first_blood_player1, first_blood_player2)
        # по описанию могут иметь пропуски: "Признаки события "первая кровь" (first blood). Если событие "первая
        # кровь" не успело произойти
        # за первые 5 минут, то признаки принимают пропущенное значение". То есть для части матчей оно не произошло.
        # *) Следующие: radiant_bottle_time + dire_bottle_time: время первого приобретения командой предмета "bottle",
        # radiant_courier_time + dire_courier_time: время приобретения предмета "courier" radiant_flying_courier_time +
        # dire_flying_courier_time: время приобретения предмета "flying_courier". Я не играю в эту игру, но вероятнее
        # всего покупка данных вещей не является обязательным. То есть эти события могут и не наступать.
        # *) radiant_first_ward_time, dire_first_ward_time: время установки командой первого "наблюдателя", т.е.
        # предмета, который позволяет видеть часть игрового поля. Вероятнее всего это тоже не входит в обязательную
        # часть победы и соответственно некоторые игры могут обходиться без этого
        return {'train_with_nan': trn_with_nan, 'test_with_nan': tst_with_nan}

    def fillNa(self, value=0):
        # 3) Замените пропуски на нули с помощью функции fillna(). На самом деле этот способ является предпочтительным
        # для логистической регрессии, поскольку он позволит пропущенному значению не вносить никакого вклада в
        # предсказание.
        # Для деревьев часто лучшим вариантом оказывается замена пропуска на очень большое или очень маленькое значение
        # — в этом случае при построении разбиения вершины можно будет отправить объекты с пропусками в отдельную
        # ветвь дерева.

        # Также есть и другие подходы — например, замена пропуска на среднее значение признака. Мы не требуем этого
        # в задании, но при желании попробуйте разные подходы к обработке пропусков и сравните их между собой.

        nanCounts = self.getNanCounts()
        for i in nanCounts['train_with_nan'].index:
            self.X_trn_[i].fillna(value, inplace=True)

        for i in nanCounts['test_with_nan'].index:
            self.X_tst_[i].fillna(value, inplace=True)

    def dropCategorial(self, columns=['lobby_type', 'r1_hero', 'r2_hero', 'r3_hero', 'r4_hero', 'r5_hero', 'd1_hero'
                ,'d2_hero', 'd3_hero', 'd4_hero', 'd5_hero']):
        # 2) Среди признаков в выборке есть категориальные, которые мы использовали как числовые, что вряд ли
        # является хорошей идеей. Категориальных признаков в этой задаче одиннадцать:
        # lobby_type и r1_hero, r2_hero, ..., r5_hero, d1_hero, d2_hero, ..., d5_hero.
        # Уберите их из выборки, и проведите кросс-валидацию для логистической регрессии на новой выборке с подбором
        # лучшего параметра регуляризации.
        # Изменилось ли качество? Чем вы можете это объяснить?

        # + http://stackoverflow.com/questions/13411544/delete-column-from-pandas-dataframe
        self.X_trn_.drop(columns, axis=1, inplace=True)
        self.X_tst_.drop(columns, axis=1, inplace=True)

    def scale(self, scaler=None):
        # Важно: не забывайте, что линейные алгоритмы чувствительны к масштабу признаков! Может пригодиться
        # sklearn.preprocessing.StandartScaler.
        scaler = scaler if scaler is not None else StandardScaler()

        self.X_trn_[self.X_trn_.columns] = scaler.fit_transform(self.X_trn_)
        self.X_tst_[self.X_tst_.columns] = scaler.transform(self.X_tst_)

    def futuresBag(self
                   ,columns=['r1_hero', 'r2_hero', 'r3_hero', 'r4_hero', 'r5_hero', 'd1_hero', 'd2_hero', 'd3_hero'
                             , 'd4_hero', 'd5_hero']
                   ,patternPositive='r{}_hero', positiveValue=1
                   ,patternNegative='d{}_hero', negativeValue=-1
                   ,patternBagColumnNames='h{}'):
        # 3) На предыдущем шаге мы исключили из выборки признаки rM_hero и dM_hero, которые показывают, какие именно
        # герои играли за каждую команду. Это важные признаки — герои имеют разные характеристики, и некоторые из
        # них выигрывают чаще, чем другие.
        print ('Creating futuresBag')
        self.X_trn_ = pandas.concat(
            [
                self.X_trn_
                ,CrossValidationScorer._words_bag(
                    self.features_, columns, patternPositive, positiveValue, patternNegative, negativeValue, patternBagColumnNames
                )
            ]
            ,axis=1
        )
        self.X_tst_ = pandas.concat(
            [
                self.X_tst_
                ,CrossValidationScorer._words_bag(
                    self.features_test_, columns, patternPositive, positiveValue, patternNegative, negativeValue, patternBagColumnNames
                )
            ]
            ,axis=1
        )

    # Мешок слов. Оптимизированный вариант.
    # используем numpy.ndarray, но размер делаем не по количеству уникальных элементов, а по максимальному значению.
    # Затем конвертируем в DataFrame и удаляем колонки, содержащие только 0
    # (http://stackoverflow.com/questions/12411649/filter-columns-of-only-zeros-from-a-pandas-data-frame)
    @staticmethod
    def _words_bag(df
                   ,columns
                   ,patternPositive='r{}_hero', positiveValue=1
                   ,patternNegative='d{}_hero', negativeValue=-1
                   ,patternBagColumnNames='h{}'):

        '''
        Function for replace categorial data (f.e. ref id) to bag.
        F.e.:
        r1_hero | r2_hero | d1_hero | d2_hero
        1       | 2       | 4       | 6
        4       | 3       | 1       | 2
        6       | 4       | 1       | 3

        will be transformed into:
        h1 h2 h3 h4 h6
        1  1  0  -1 -1
       -1 -1  1  1  0
       -1  0 -1  1  1
        
        Note there no h5 as it was not in incoming data!
        Return DataFrame with replaced columns.
        '''
        bag = numpy.zeros((df.shape[0], df[columns].max().max())) # global max by columns

        for i, _id in enumerate(df.index): # i - monotone index (1, 2, 3), _id is real index (1, 3, 8)
            for p in range(1, int(len(columns) / 2) + 1): # ???
                bag[i, df.ix[_id, patternPositive.format(p)]-1] = positiveValue
                bag[i, df.ix[_id, patternNegative.format(p)]-1] = negativeValue

        bag = DataFrame(bag, index=df.index)
        bag = bag[bag.columns[(bag != 0).any()]]
        bag.columns = [patternBagColumnNames.format(h+1) for i,h in enumerate(bag.columns)]
        # See http://localhost:8888/notebooks/final.assignment/Kaggle/ArraysSandbox.ipynb#Добавление-нескольких-столбцов-с-РАЗНОЙ-индексацией
        bag.index = df.index
        return bag

    def searchBestParams(self, grid = {'C': numpy.power(10.0, numpy.arange(-10, 30))}, clf = LogisticRegression(penalty='l2', random_state=777)):
        '''Search best parameters for classifier'''

        print ('Search best parameters for classifier')
        start_time = datetime.datetime.now()

        fold = KFold(len(self.y_trn_), n_folds=5, shuffle=True, random_state=777)
        self.gs = GridSearchCV(clf, grid, scoring='roc_auc', cv=fold, n_jobs=N_JOBS, verbose=True)
        self.gs.fit(self.X_trn_, self.y_trn_)
        print ('gs.best_params_:', self.gs.best_params_)
        print ('gs.best_score_:', self.gs.best_score_)
        print ('Time spent:', (datetime.datetime.now() - start_time))

    def predict(self):
        print ('Predict on test data')
        # self.gs.best_estimator_, not self.gs !!!
        # http://stackoverflow.com/questions/25949205/sklearn-and-gridsearchcv-is-it-expected-to-return-optimal-parameters/25951666#25951666
        self.y_pred_ = self.gs.best_estimator_.predict_proba(self.X_tst_)[:, 1]
        print (': y.predict_proba() predicted (min, max, mean): ', self.y_pred_.min(), self.y_pred_.max(), self.y_pred_.mean() )

    def writeResultFile(self, result_file='results/kaggle.results.{}.csv'):
        print ('Write result into [{}]'.format(result_file.format(self.processedName)))
        res = numpy.column_stack( (self.X_tst_.index, self.y_pred_) )
        res_df = DataFrame(res, columns=['match_id', 'radiant_win'])
        res_df.match_id = res_df.match_id.astype('int') # Is not possible now provide Compound dtypes.
        # See http://localhost:8888/notebooks/final.assignment/Kaggle/ArraysSandbox.ipynb#DataFarme-dtypes-on-create
        res_df.to_csv(result_file.format(self.processedName), encoding='utf-8', index=False)

    def PROCESS(self
        ,name, description
        ,flow=['loadData', 'fillNa', 'dropCategorial', 'scale', 'futuresBag', 'searchBestParams', 'predict', 'writeResultFile']
        ,flow_override={}):
        '''
        Flow may contain string method name or something which may be callable.
        '''

        self.processedName = name
        start_time = datetime.datetime.now()
        print ('Start processing [{}] ("{}") at {}'.format(name, description, start_time))

        for call in flow:
            call = flow_override[call] if call in flow_override else call

            if callable(call):
                call(self)
            else: # Threat as method name. See FuncSandbox.ipynb
                getattr(self, call)()

        timeSpent = (datetime.datetime.now() - start_time)
        self.results.put(
            name, description
            ,self.gs
            ,timeSpent
        )
        print ('Done processing [{}] ({}). Total time spent: {}'.format(name, description, timeSpent))

    def saveResults(self, file='scorer.results.res.pickle'):
        with open('scorer.results.res.pickle', 'wb') as file:
            pickle.dump(self.results.res, file, pickle.HIGHEST_PROTOCOL)

    def loadResults(self, file='scorer.results.res.pickle'):
        with open(file, 'rb') as file:
            self.results.res = pickle.load(file)

# Example of use:
#lcv = CrossValidationScorer()
#lcv.PROCESS(
#    'Test0', 'Just test'
#    [
#        'loadData'
#        ,'fillNa'
#        ,'dropCategorial'
#        ,'scale'
#        ,'futuresBag'
#        ,'searchBestParams'
#        ,'predict', 'writeResultFile'
#    ]
#)
#lcv.results.describe()
#lcv.results.descriptions()
#lcv.results.head()
#lcv.results.plot()
print ("done")

In [ ]:
# OR load saved!
scorer = CrossValidationScorer()
scorer.loadResults()

# ↡↡↡↡↡↡↡

In [ ]:
scorer.results.describeBest().filter(regex='^drop_column:.*', axis=0).index

In [ ]:
[ c.replace('drop_column:', '') for c in scorer.results.describeBest().filter(regex='^drop_column:.*', axis=0).index ]