# Preparation

In [1]:
import sys
!{sys.executable} -m pip install --user pandas numpy sklearn nltk

Requirement already satisfied: pandas in /usr/lib64/python3.8/site-packages (0.25.3)
Requirement already satisfied: numpy in /usr/lib64/python3.8/site-packages (1.18.2)
Requirement already satisfied: sklearn in /home/pasha/.local/lib/python3.8/site-packages (0.0)
Requirement already satisfied: nltk in /home/pasha/.local/lib/python3.8/site-packages (3.4.5)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/lib/python3.8/site-packages (from pandas) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in /usr/lib/python3.8/site-packages (from pandas) (2019.3)
Requirement already satisfied: scikit-learn in /home/pasha/.local/lib/python3.8/site-packages (from sklearn) (0.22.2.post1)
Requirement already satisfied: six in /usr/lib/python3.8/site-packages (from nltk) (1.14.0)
Requirement already satisfied: scipy>=0.17.0 in /usr/lib64/python3.8/site-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /home/pasha/.local/lib/python3.8/site-packages (from scikit-learn->sklearn) (0.14.1)

In [2]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer

In [3]:
# Define constants
tfidf = TfidfVectorizer(stop_words='english')

In [4]:
# By https://ru.stackoverflow.com/questions/995616/Как-сделать-tf-idf-для-русских-текстов

#import nltk
#from nltk.corpus import stopwords as nltk_stopwords

#nltk.download('stopwords')
#stopwords = set(nltk_stopwords.words('russian') )
#tfidf = TfidfVectorizer(stop_words=stopwords)

In [65]:
# Minimal example:
# articles = pd.read_csv('TF-IDF-min.csv', index_col='№')
# Full real file:
articles = pd.read_csv('RDC-135_articles_golden_set_mapping.csv', index_col='№')
articles

,File name,DUP File name,Initial DUP №,DUP Doubts,DUP,Article,RDC answer about doubts,Dup/Uniq,Dup changed,Max TF/IDF DUP score matches DUP,Unnamed: 11
№,,,,,,,,,,,
1,FACTIVA_PBTR000020071220e3cj00015_20071220_000...,FACTIVA_PPGZ000020071220e3ck0001l_20071220_000...,2,DUP < 0.5,2,A Carnegie man threatened to kill employees at...,no,dup,NaN,+,Total dup: 50
2,FACTIVA_PPGZ000020071220e3ck0001l_20071220_000...,FACTIVA_PBTR000020071220e3cj00015_20071220_000...,1,DUP < 0.5,1,A Carnegie man was arrested late Monday aftern...,no,dup,NaN,+,Total uniq: 50
3,FACTIVA_INHT000020060116e21g0002e_20060116_000...,FACTIVA_AIWIBA0020060116e21f0000p_20060116_000...,4,NaN,4,"Israel Discount Bank, a leading Israeli lender...",NaN,dup,NaN,+,NaN
4,FACTIVA_AIWIBA0020060116e21f0000p_20060116_000...,FACTIVA_INHT000020060116e21g0002e_20060116_000...,3,NaN,3,Israel Discount Bank of New York general manag...,NaN,dup,NaN,+,NaN
5,FACTIVA_VNCS000020060225e22p00055_20060225_000...,FACTIVA_TRIB000020060225e22p0005a_20060225_000...,6,NaN,6,SAN FRANCISCO DOPING I SAN FRANCISCO -- A tr...,NaN,dup,NaN,+,NaN
...,...,...,...,...,...,...,...,...,...,...,...
96,FACTIVA_LBA0000020080321e43l000fr_20080321_000...,FACTIVA_NYTF000020080321e43l00051_20080321_000...,97,NaN,97,(Recasts with announcement of ecology probe) ...,NaN,dup,NaN,+,NaN
97,FACTIVA_NYTF000020080321e43l00051_20080321_000...,FACTIVA_LBA0000020080321e43l000fr_20080321_000...,96,NaN,96,MOSCOW -- Russian security services have detai...,NaN,dup,NaN,+,NaN
98,FACTIVA_AFNWS00020070612e36b00020_20070612_000...,FACTIVA_AFNWS00020080417e44h0010c_20080417_000...,99,Originally present in both dup and nondup dire...,99,"Kampala, Jun 11, 2007 (The Monitor/All Africa ...",leave only dup,dup,NaN,NO,NaN
99,FACTIVA_AFNWS00020080417e44h0010c_20080417_000...,FACTIVA_AFNWS00020070612e36b00020_20070612_000...,98,NaN,98,"Apr 17, 2008 (The Weekly Observer/All Africa G...",NaN,dup,NaN,NO,NaN
100,ACQUIREMED_9293274cc602bf9125f58e10001c65fcc77...,NaN,0,NaN,0,"Sri Lanka, Jan. 21 -- A person was arrested wi...",NaN,uniq,NaN,+,NaN

In [6]:
tfidf_matrix = tfidf.fit_transform(articles['Article'])
tfidf_matrix.toarray() # or res.todense()

array([[0.        , 0.        , 0.        , 0.5       , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.5       ,
        0.        , 0.5       , 0.5       ],
       [0.        , 0.        , 0.63907044, 0.        , 0.42799292,
        0.        , 0.63907044, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        ],
       [0.57735027, 0.57735027, 0.        , 0.        , 0.        ,
        0.57735027, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.4622077 ,
        0.        , 0.        , 0.55681615, 0.        , 0.        ,
        0.69015927, 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.4622077 ,
        0.        , 0.        , 0.55681615, 0.69015927, 0.        ,
        0.        , 0.        , 0.        ]])

In [7]:
tfidf_matrix.shape

(5, 13)

In [8]:
tfidf.stop_words

'english'

# Вычисление

## Самые популярные слова

In [9]:
# By https://www.rupython.com/sklearn-tfidf-transformer-tf-idf-33655.html
# Вышеупомянутый X имеет значения TF-IDF всех документов в корпусе. Это большая разреженная матрица.
# Теперь,
tfidf.get_feature_names()
# это дает вам список всех токенов или n-граммов или слов. Для первого документа в вашем корпусе,

['вдруг',
 'выбегает',
 'вышел',
 'два',
 'зайчик',
 'охотник',
 'погулять',
 'прямо',
 'пуляет',
 'раз',
 'стреляет',
 'три',
 'четыре']

In [10]:
# By https://stackoverflow.com/questions/37593293/what-is-the-simplest-way-to-get-tfidf-with-pandas-dataframe#comment72191707_37593408
# v.get_feature_names() will give you the list of feature names.
# v.vocabulary_ will give you a dict with feature names as keys and their index in the matrix produced as values.
tfidf.vocabulary_

{'раз': 9,
 'два': 3,
 'три': 11,
 'четыре': 12,
 'вышел': 2,
 'зайчик': 4,
 'погулять': 6,
 'вдруг': 0,
 'охотник': 5,
 'выбегает': 1,
 'прямо': 7,
 'стреляет': 10,
 'пуляет': 8}

In [11]:
# By https://www.rupython.com/sklearn-tfidf-transformer-tf-idf-33655.html
# это дает вам список всех токенов или n-граммов или слов. Для первого документа в вашем корпусе, 
# Позволяет распечатать их:
def print_word_ratings_by_document(doc=0):
    feature_names = tfidf.get_feature_names()
    feature_index = tfidf_matrix[doc,:].nonzero()[1]
    tfidf_scores = zip(feature_index, [tfidf_matrix[doc, x] for x in feature_index]) 
    for w, s in [(feature_names[i], s) for (i, s) in tfidf_scores]:
        print (w, s)

for i, _ in articles.iterrows():
    print("### doc {}: ###".format(i-1))
    print_word_ratings_by_document(i-1)

### doc 0: ###
четыре 0.5
три 0.5
два 0.5
раз 0.5
### doc 1: ###
погулять 0.6390704413963749
зайчик 0.42799292268317357
вышел 0.6390704413963749
### doc 2: ###
выбегает 0.5773502691896258
охотник 0.5773502691896258
вдруг 0.5773502691896258
### doc 3: ###
стреляет 0.6901592662889633
прямо 0.5568161504458247
зайчик 0.46220770413113277
### doc 4: ###
пуляет 0.6901592662889633
прямо 0.5568161504458247
зайчик 0.46220770413113277

In [12]:
# https://ru.stackoverflow.com/questions/772859/tfidfvectorizer/773018#773018
# Топ 10 самых популярных слов:
N=10
idx = np.ravel(tfidf_matrix.sum(axis=0).argsort(axis=1))[::-1][:N]
top_10_words = np.array(tfidf.get_feature_names())[idx].tolist()
top_10_words

['зайчик',
 'прямо',
 'стреляет',
 'пуляет',
 'погулять',
 'вышел',
 'охотник',
 'выбегает',
 'вдруг',
 'четыре']

### Разбор

In [13]:
tfidf_matrix.shape

(5, 13)

In [14]:
tfidf_matrix.todense()

matrix([[0.        , 0.        , 0.        , 0.5       , 0.        ,
         0.        , 0.        , 0.        , 0.        , 0.5       ,
         0.        , 0.5       , 0.5       ],
        [0.        , 0.        , 0.63907044, 0.        , 0.42799292,
         0.        , 0.63907044, 0.        , 0.        , 0.        ,
         0.        , 0.        , 0.        ],
        [0.57735027, 0.57735027, 0.        , 0.        , 0.        ,
         0.57735027, 0.        , 0.        , 0.        , 0.        ,
         0.        , 0.        , 0.        ],
        [0.        , 0.        , 0.        , 0.        , 0.4622077 ,
         0.        , 0.        , 0.55681615, 0.        , 0.        ,
         0.69015927, 0.        , 0.        ],
        [0.        , 0.        , 0.        , 0.        , 0.4622077 ,
         0.        , 0.        , 0.55681615, 0.69015927, 0.        ,
         0.        , 0.        , 0.        ]])

In [15]:
# Doc: https://docs.scipy.org/doc/numpy/reference/generated/numpy.sum.html#numpy.sum
tfidf_matrix.sum(axis=0)  # Сумма по столбцам

matrix([[0.57735027, 0.57735027, 0.63907044, 0.5       , 1.35240833,
         0.57735027, 0.63907044, 1.1136323 , 0.69015927, 0.5       ,
         0.69015927, 0.5       , 0.5       ]])

In [16]:
# Doc: https://docs.scipy.org/doc/numpy/reference/generated/numpy.argsort.html
tfidf_matrix.sum(axis=0).argsort(axis=1)  # Возвращает *индексы*, по возрастанию значений элементов

matrix([[ 3,  9, 11, 12,  0,  1,  5,  2,  6,  8, 10,  7,  4]])

In [17]:
# Doc: https://docs.scipy.org/doc/numpy/reference/generated/numpy.ravel.html
np.ravel(tfidf_matrix.sum(axis=0).argsort(axis=1))

array([ 3,  9, 11, 12,  0,  1,  5,  2,  6,  8, 10,  7,  4])

In [18]:
np.ravel(tfidf_matrix.sum(axis=0).argsort(axis=1))[::-1]  # Reverse list (DESC)

array([ 4,  7, 10,  8,  6,  2,  5,  1,  0, 12, 11,  9,  3])

In [19]:
np.ravel(tfidf_matrix.sum(axis=0).argsort(axis=1))[::-1][:N] # Take top N elements

array([ 4,  7, 10,  8,  6,  2,  5,  1,  0, 12])

In [20]:
np.ravel(tfidf_matrix.sum(axis=0).argsort(axis=1))[-N:][::-1]

array([ 4,  7, 10,  8,  6,  2,  5,  1,  0, 12])

## Поиск самого похожего документа

In [21]:
similarities = (tfidf_matrix * tfidf_matrix.T).A[-1,:-1]
similarities

array([0.        , 0.19782163, 0.        , 0.52368019])

In [22]:
# Doc: https://docs.scipy.org/doc/numpy/reference/generated/numpy.argmax.html
#  numpy.argmax(a, axis=None, out=None)
# Returns the indices of the maximum values along an axis.
max_sim_position = np.argmax(similarities)
max_sim_position

3

In [23]:
max_sim = max(similarities)
max_sim

0.52368018715548

In [24]:
similarities[max_sim_position]

0.52368018715548

### Разбор

In [25]:
tfidf_matrix.todense()

matrix([[0.        , 0.        , 0.        , 0.5       , 0.        ,
         0.        , 0.        , 0.        , 0.        , 0.5       ,
         0.        , 0.5       , 0.5       ],
        [0.        , 0.        , 0.63907044, 0.        , 0.42799292,
         0.        , 0.63907044, 0.        , 0.        , 0.        ,
         0.        , 0.        , 0.        ],
        [0.57735027, 0.57735027, 0.        , 0.        , 0.        ,
         0.57735027, 0.        , 0.        , 0.        , 0.        ,
         0.        , 0.        , 0.        ],
        [0.        , 0.        , 0.        , 0.        , 0.4622077 ,
         0.        , 0.        , 0.55681615, 0.        , 0.        ,
         0.69015927, 0.        , 0.        ],
        [0.        , 0.        , 0.        , 0.        , 0.4622077 ,
         0.        , 0.        , 0.55681615, 0.69015927, 0.        ,
         0.        , 0.        , 0.        ]])

In [26]:
tfidf_matrix.shape

(5, 13)

In [27]:
type(tfidf_matrix)

scipy.sparse.csr.csr_matrix

In [28]:
(tfidf_matrix * tfidf_matrix.T).todense()

matrix([[1.        , 0.        , 0.        , 0.        , 0.        ],
        [0.        , 1.        , 0.        , 0.19782163, 0.19782163],
        [0.        , 0.        , 1.        , 0.        , 0.        ],
        [0.        , 0.19782163, 0.        , 1.        , 0.52368019],
        [0.        , 0.19782163, 0.        , 0.52368019, 1.        ]])

In [29]:
(tfidf_matrix * tfidf_matrix.T).todense().shape

(5, 5)

In [30]:
mul = tfidf_matrix * tfidf_matrix.T

In [31]:
scores = mul.A
scores

array([[1.        , 0.        , 0.        , 0.        , 0.        ],
       [0.        , 1.        , 0.        , 0.19782163, 0.19782163],
       [0.        , 0.        , 1.        , 0.        , 0.        ],
       [0.        , 0.19782163, 0.        , 1.        , 0.52368019],
       [0.        , 0.19782163, 0.        , 0.52368019, 1.        ]])

In [32]:
# We will search maximum, so do not willing match to himself:
np.fill_diagonal(scores, -1)
scores

array([[-1.        ,  0.        ,  0.        ,  0.        ,  0.        ],
       [ 0.        , -1.        ,  0.        ,  0.19782163,  0.19782163],
       [ 0.        ,  0.        , -1.        ,  0.        ,  0.        ],
       [ 0.        ,  0.19782163,  0.        , -1.        ,  0.52368019],
       [ 0.        ,  0.19782163,  0.        ,  0.52368019, -1.        ]])

In [33]:
type(scores)

numpy.ndarray

In [34]:
scores_df = pd.DataFrame(scores, index=articles.index)
scores_df

     0         1    2         3         4
№
1 -1.0  0.000000  0.0  0.000000  0.000000
2  0.0 -1.000000  0.0  0.197822  0.197822
3  0.0  0.000000 -1.0  0.000000  0.000000
4  0.0  0.197822  0.0 -1.000000  0.523680
5  0.0  0.197822  0.0  0.523680 -1.000000

In [35]:
# By https://gist.github.com/RZachLamberty/1ed47cd0e2d0d968f7cdbd3d53a50f4c
# you can calculate cosine similarity easily given this
(tfidf_matrix @ tfidf_matrix.T).todense()

matrix([[1.        , 0.        , 0.        , 0.        , 0.        ],
        [0.        , 1.        , 0.        , 0.19782163, 0.19782163],
        [0.        , 0.        , 1.        , 0.        , 0.        ],
        [0.        , 0.19782163, 0.        , 1.        , 0.52368019],
        [0.        , 0.19782163, 0.        , 0.52368019, 1.        ]])

In [36]:
# Doc: https://docs.scipy.org/doc/numpy/reference/generated/numpy.matrix.A.html
# Return self as an ndarray object.
# Equivalent to np.asarray(self)
mul.A

array([[1.        , 0.        , 0.        , 0.        , 0.        ],
       [0.        , 1.        , 0.        , 0.19782163, 0.19782163],
       [0.        , 0.        , 1.        , 0.        , 0.        ],
       [0.        , 0.19782163, 0.        , 1.        , 0.52368019],
       [0.        , 0.19782163, 0.        , 0.52368019, 1.        ]])

In [37]:
mul.A[-1,:-1] # Последняя строка

array([0.        , 0.19782163, 0.        , 0.52368019])

In [38]:
mul.A[-1,0:] # Последняя строка

array([0.        , 0.19782163, 0.        , 0.52368019, 1.        ])

In [39]:
mul.A[-1,:-1] # Последняя строка без последнего элемента.
# Матрица диагональная (остальные не имеют значения, зеркально повторяются), содержит веса всех со всеми.
# Последний элемент, выкидывается потому что это матч самого к себе, если мы рассматриваем максимальный дубль
# для последнего в наборе документа (так было в функции get_similarities из GOJI)

# Получается что реально нужно выкидывать по индексу того, для которого ищется сравнение!

array([0.        , 0.19782163, 0.        , 0.52368019])

### Обобщение варианта - без пересчёта матрицы каждый раз!

In [40]:
# Получается что реально нужно выкидывать по индексу того, для которого ищется сравнение!
forDocNo=1 # Expect match doc 3<>4

In [41]:
scores

array([[-1.        ,  0.        ,  0.        ,  0.        ,  0.        ],
       [ 0.        , -1.        ,  0.        ,  0.19782163,  0.19782163],
       [ 0.        ,  0.        , -1.        ,  0.        ,  0.        ],
       [ 0.        ,  0.19782163,  0.        , -1.        ,  0.52368019],
       [ 0.        ,  0.19782163,  0.        ,  0.52368019, -1.        ]])

In [42]:
s = scores[forDocNo]
max_sim_position = np.argmax(s)

(max_sim_position, s[max_sim_position])

(3, 0.19782162617776308)

### Для каждого документа, в DataFrame add "Max TF/IDF DUP score" and "Max DUP score docId"

In [43]:
articles

# Should be matched:
# id № Dup№
#  0 1 -
#  1 2 (4 and 5)
#  2 3 -
#  3 4 5
#  4 5 4

                   Article
№
1    Раз, два, три, четыре
2    вышел зайчик погулять
3   вдруг охотник выбегает
4  прямо в зайчик стреляет
5    пуляет прямо в зайчик

In [44]:
scores

array([[-1.        ,  0.        ,  0.        ,  0.        ,  0.        ],
       [ 0.        , -1.        ,  0.        ,  0.19782163,  0.19782163],
       [ 0.        ,  0.        , -1.        ,  0.        ,  0.        ],
       [ 0.        ,  0.19782163,  0.        , -1.        ,  0.52368019],
       [ 0.        ,  0.19782163,  0.        ,  0.52368019, -1.        ]])

In [45]:
scores_df

     0         1    2         3         4
№
1 -1.0  0.000000  0.0  0.000000  0.000000
2  0.0 -1.000000  0.0  0.197822  0.197822
3  0.0  0.000000 -1.0  0.000000  0.000000
4  0.0  0.197822  0.0 -1.000000  0.523680
5  0.0  0.197822  0.0  0.523680 -1.000000

In [46]:
scores_df.loc[3]

0    0.0
1    0.0
2   -1.0
3    0.0
4    0.0
Name: 3, dtype: float64

In [47]:
scores_df.iloc[3]

0    0.000000
1    0.197822
2    0.000000
3   -1.000000
4    0.523680
Name: 4, dtype: float64

In [48]:
# By https://stackoverflow.com/questions/26658240/getting-the-index-of-a-row-in-a-pandas-apply-function/48819898#48819898
# index available as row.name
def most_similar(row):
#     print('====')
#     print('row.name={}; scores_df.loc[row.name].idxmax()={}; scores_df.iloc[scores_df.loc[row.name].idxmax()].name={}'.format(
#         row.name
#         ,scores_df.loc[row.name].idxmax()
#         ,scores_df.iloc[scores_df.loc[row.name].idxmax()].name
#         )
#     )
#     print('row.loc={}; row.iloc={}'.format(row.loc, row.iloc))
    max_similar_doc = scores_df.iloc[scores_df.loc[row.name].idxmax()].name # Array index (.iloc) into DataFrame index (.name)
    max_similar_score = scores_df.loc[row.name].max()
    return ((max_similar_doc if max_similar_score > 0 else -1), max_similar_score)

# articles['Max DUP score docId'] = articles.apply(lambda i: np.argmax(scores), axis=1)
# articles['Max DUP score docId'] = articles.apply(lambda i: type(i.index), axis=1)
articles[['Max DUP score docId', 'Max TF/IDF DUP score']] = articles.apply(most_similar, axis=1, result_type='expand')
articles['Max DUP score docId'] = articles['Max DUP score docId'].astype('int32')
articles

                   Article  Max DUP score docId  Max TF/IDF DUP score
№
1    Раз, два, три, четыре                   -1              0.000000
2    вышел зайчик погулять                    4              0.197822
3   вдруг охотник выбегает                   -1              0.000000
4  прямо в зайчик стреляет                    5              0.523680
5    пуляет прямо в зайчик                    4              0.523680

In [49]:
( scores_df[3], scores_df.loc[3] )

(№
 1    0.000000
 2    0.197822
 3    0.000000
 4   -1.000000
 5    0.523680
 Name: 3, dtype: float64,
 0    0.0
 1    0.0
 2   -1.0
 3    0.0
 4    0.0
 Name: 3, dtype: float64)

# Python constructions
## Apply with 2 columns at once

By https://stackoverflow.com/questions/16236684/apply-pandas-function-to-column-to-create-multiple-new-columns/52363890#52363890
+By https://stackoverflow.com/questions/16236684/apply-pandas-function-to-column-to-create-multiple-new-columns/52363890#comment106834440_16242202 for column naming

In [50]:
# articles[['a', 'b']] = articles.apply(lambda i: [1, 2], axis=1, result_type='expand')
# articles

In [70]:
def dump_xml_file(row):
    print(type(row))
    print(row['File name'])
    with open('articles/' + row['File name'].replace('.xml', '.txt'), 'w+') as file:
        file.write(row['Article'])

articles.apply(dump_xml_file, axis=1)

<class 'pandas.core.series.Series'>
FACTIVA_PBTR000020071220e3cj00015_20071220_000000.xml
<class 'pandas.core.series.Series'>
FACTIVA_PPGZ000020071220e3ck0001l_20071220_000000.xml
<class 'pandas.core.series.Series'>
FACTIVA_INHT000020060116e21g0002e_20060116_000000.xml
<class 'pandas.core.series.Series'>
FACTIVA_AIWIBA0020060116e21f0000p_20060116_000000.xml
<class 'pandas.core.series.Series'>
FACTIVA_VNCS000020060225e22p00055_20060225_000000.xml
<class 'pandas.core.series.Series'>
FACTIVA_TRIB000020060225e22p0005a_20060225_000000.xml
<class 'pandas.core.series.Series'>
FACTIVA_PBDN000020080127e41p0000e_20080127_000000.xml
<class 'pandas.core.series.Series'>
FACTIVA_SETL000020080126e41p0000g_20080126_000000.xml
<class 'pandas.core.series.Series'>
FACTIVA_APRS000020060210e22a003jd_20060210_000000.xml
<class 'pandas.core.series.Series'>
FACTIVA_BBCMAP0020060215e22f000rt_20060215_000000.xml
<class 'pandas.core.series.Series'>
FACTIVA_THMI000020110429e74s00011_20110429_093319.xml
<class 'pandas.core.series.Series'>
FACTIVA_THMI000020110429e74s00010_20110429_093319.xml
<class 'pandas.core.series.Series'>
FACTIVA_AFNWS00020090917e59h000md_20090917_000000.xml
<class 'pandas.core.series.Series'>
FACTIVA_PRTASS0020090916e59g000ul_20090916_000000.xml
<class 'pandas.core.series.Series'>
FACTIVA_AFNWS00020090917e59h000md_20090917_000000.xml
<class 'pandas.core.series.Series'>
FACTIVA_AFPR000020090916e59g006ex_20090916_000000.xml
<class 'pandas.core.series.Series'>
FACTIVA_APRS000020100214e62e002mh_20100214_000000.xml
<class 'pandas.core.series.Series'>
FACTIVA_APRS000020100214e62e00372_20100214_000000.xml
<class 'pandas.core.series.Series'>
FACTIVA_APRS000020110404e7440020l_20110404_123154.xml
<class 'pandas.core.series.Series'>
FACTIVA_APRS000020110405e74500002_20110405_044512.xml
<class 'pandas.core.series.Series'>
FACTIVA_HNTR000020100501e64u0002r_20100501_093259.xml
<class 'pandas.core.series.Series'>
FACTIVA_NSL0000020100501e65100027_20100501_153032.xml
<class 'pandas.core.series.Series'>
FACTIVA_APRS000020100713e67d002k7_20100714_044457.xml
<class 'pandas.core.series.Series'>
FACTIVA_APRS000020100713e67d002it_20100714_044457.xml
<class 'pandas.core.series.Series'>
FACTIVA_orse000020010712dx6u00ue4_20010712_000000.xml
<class 'pandas.core.series.Series'>
FACTIVA_mmph000020010712dx6u00fvo_20010712_000000.xml
<class 'pandas.core.series.Series'>
FACTIVA_PPGZ000020121020e8ak0002g_20121020_082119.xml
<class 'pandas.core.series.Series'>
FACTIVA_XTPA000020121020e8aj00001_20121020_082121.xml
<class 'pandas.core.series.Series'>
FACTIVA_CWNS000020121206e8c600hts_20121207_043337.xml
<class 'pandas.core.series.Series'>
FACTIVA_WINSTR0020121207e8c70000v_20121207_043437.xml
<class 'pandas.core.series.Series'>
WNC_24935050_20111109_050009.xml
<class 'pandas.core.series.Series'>
FACTIVA_MOSTIM0020110417e74i00005_20110418_043735.xml
<class 'pandas.core.series.Series'>
FACTIVA_ABCNEW0020100808e68800008_20100808_043644.xml
<class 'pandas.core.series.Series'>
FACTIVA_AAP0000020100808e688000b6_20100808_043644.xml
<class 'pandas.core.series.Series'>
FACTIVA_INDFED0020110623e76m00138_20110623_073151.xml
<class 'pandas.core.series.Series'>
FACTIVA_TARGNS0020110623e76m004b0_20110623_083214.xml
<class 'pandas.core.series.Series'>
FACTIVA_DJON000020121015e8af0004u_20121016_142119.xml
<class 'pandas.core.series.Series'>
FACTIVA_IRTI000020121016e8ag00024_20121016_043244.xml
<class 'pandas.core.series.Series'>
FACTIVA_THEFOR0020080711e47a0001e_20080711_000000.xml
<class 'pandas.core.series.Series'>
FACTIVA_THEFOR0020080905e4940000b_20080905_000000.xml
<class 'pandas.core.series.Series'>
FACTIVA_SUNDTB0020090419e54j00013_20090419_000000.xml
<class 'pandas.core.series.Series'>
FACTIVA_SUNDTB0020090621e56l0001m_20090621_000000.xml
<class 'pandas.core.series.Series'>
FACTIVA_saen000020010713dx6n00hw0_20010713_000000.xml
<class 'pandas.core.series.Series'>
FACTIVA_hou0000020010711dx6k00yau_20010711_000000.xml
<class 'pandas.core.series.Series'>
FACTIVA_DAL0000020061223e2cn00050_20061223_000000.xml
<class 'pandas.core.series.Series'>
FACTIVA_FWST000020061223e2cn00003_20061223_000000.xml
<class 'pandas.core.series.Series'>
FACTIVA_GMER000020070913e39d0000z_20070913_000000.xml
<class 'pandas.core.series.Series'>
FACTIVA_STAM000020070913e39d0000n_20070913_000000.xml
<class 'pandas.core.series.Series'>
FACTIVA_DSTAR00020060504e2550000p_20060504_000000.xml
<class 'pandas.core.series.Series'>
FACTIVA_AFPR000020060504e254003eb_20060504_000000.xml
<class 'pandas.core.series.Series'>
FACTIVA_HNIANS0020111209e7c9001dk_20111210_044146.xml
<class 'pandas.core.series.Series'>
FACTIVA_TRENDE0020111208e7c800691_20111208_113201.xml
<class 'pandas.core.series.Series'>
FACTIVA_HDGWR00020110630e76t00004_20110630_044505.xml
<class 'pandas.core.series.Series'>
FACTIVA_NYLJ000020110630e76n0000i_20110630_103140.xml
<class 'pandas.core.series.Series'>
FACTIVA_WP00000020040610e06a0008i_20040610_000000.xml
<class 'pandas.core.series.Series'>
FACTIVA_PPGZ000020040611e06b0006r_20040611_000000.xml
<class 'pandas.core.series.Series'>
FACTIVA_LBA0000020120410e84a00127_20120410_133206.xml
<class 'pandas.core.series.Series'>
FACTIVA_TELUK00020120410e84a001bi_20120411_044338.xml
<class 'pandas.core.series.Series'>
FACTIVA_INDFED0020080829e48s0024x_20080829_000000.xml
<class 'pandas.core.series.Series'>
FACTIVA_NYTF000020080830e48u00028_20080830_000000.xml
<class 'pandas.core.series.Series'>
FACTIVA_STIMES0020060620e26l0000j_20060620_000000.xml
<class 'pandas.core.series.Series'>
FACTIVA_AFPR000020060620e26k003pe_20060620_000000.xml
<class 'pandas.core.series.Series'>
FACTIVA_APRS000020070314e33e001w1_20070314_000000.xml
<class 'pandas.core.series.Series'>
FACTIVA_AWSJ000020070314e33f0001c_20070314_000000.xml
<class 'pandas.core.series.Series'>
ACQUIREMED_a56e6b7ea7b01b565f8076cd46538b1358c53965_20191203_171002.xml
<class 'pandas.core.series.Series'>
ACQUIREMED_667bd5ed0293c7b1faaa5bf33cf6ea498c7e2562_20191203_141001.xml
<class 'pandas.core.series.Series'>
ACQUIREMED_6335a1855fe0f4d7162a9a345aad8a608cc880f7_20191203_111002.xml
<class 'pandas.core.series.Series'>
ACQUIREMED_35f53757e574feca4a0e96f76b2c1585aacbe8cc_20191204_061000.xml
<class 'pandas.core.series.Series'>
ACQUIREMED_73ac341d0e8f2b6c5adcef0bd5d2ed744e5c682b_20191204_091003.xml
<class 'pandas.core.series.Series'>
NEWSBANK_17792EF2C3FBA358_20191202_044507.xml
<class 'pandas.core.series.Series'>
NEWSBANK_17795CEC1A345408_20191202_164503.xml
<class 'pandas.core.series.Series'>
TRIBUNE_5043cd4c61a27cf79776a5be0e3c92f5c3b1f447_20191202_133500.xml
<class 'pandas.core.series.Series'>
TRIBUNE_3678f183cb3a133fdbc3a0935de519a4808b3643_20191202_103500.xml
<class 'pandas.core.series.Series'>
ACQUIREMED_e3de3722eee8ce57829325880b787b19fbefcbd8_20191102_041001.xml
<class 'pandas.core.series.Series'>
TRIBUNE_a1d5c259cf4a67bd86905e2b32c38c524ea21d20_20191102_043500.xml
<class 'pandas.core.series.Series'>
ACQUIREMED_17e7f5bd9a471ffd396709c94c5be8b8fcaf23a9_20191102_051002.xml
<class 'pandas.core.series.Series'>
ACQUIREMED_7e1ff92db99e633ac9826eb96d933d592eb4addd_20191019_091000.xml
<class 'pandas.core.series.Series'>
NEWSBANK_176AB29611802210_20191019_084502.xml
<class 'pandas.core.series.Series'>
ACQUIREMED_a6881dfcd75942b6a112bd85569a6f8dfe16d018_20191019_091002.xml
<class 'pandas.core.series.Series'>
ACQUIREMED_d5038fed320112342e99f35c5fca3fc6bf2715d4_20191019_101001.xml
<class 'pandas.core.series.Series'>
TRIBUNE_c1c9576e690451731649c10448c6a3aa6eeb2d4d_20191019_123500.xml
<class 'pandas.core.series.Series'>
NEWSBANK_176A67E70AB5C2A0_20191018_124506.xml
<class 'pandas.core.series.Series'>
NEWSBANK_176A6F8BA9A00568_20191018_124513.xml
<class 'pandas.core.series.Series'>
ACQUIREMED_5fa8474c7b4d91f6081250bb87cadfda1b374cd9_20191128_041002.xml
<class 'pandas.core.series.Series'>
ACQUIREMED_0c4575fd73e55f0079493c93b2059f0423228187_20191225_011000.xml
<class 'pandas.core.series.Series'>
ACQUIREMED_410a4f5c265e8209a10808ebbdeaaa25660eb431_20200101_011002.xml
<class 'pandas.core.series.Series'>
ACQUIREMED_814fffc1be920b3dafb79b4863be2df27b758682_20200108_011001.xml
<class 'pandas.core.series.Series'>
ACQUIREMED_871dcfe997b1b0aca931681c6c78f4cbf2f9ca8b_20200108_011001.xml
<class 'pandas.core.series.Series'>
ACQUIREMED_affca28b69714e2a7e658cb81b3cf477528b0c69_20200108_011001.xml
<class 'pandas.core.series.Series'>
ACQUIREMED_b9aa901200e4c072efd50ec7310de121bdacf36c_20200101_011000.xml
<class 'pandas.core.series.Series'>
FACTIVA_AFNWS00020080424e44o000pw_20080424_000000.xml
<class 'pandas.core.series.Series'>
FACTIVA_BARTEE0020120814e88e0002y_20120814_152127.xml
<class 'pandas.core.series.Series'>
FACTIVA_BARTEE0020120906e89600034_20120906_152130.xml
<class 'pandas.core.series.Series'>
FACTIVA_ABCNEW0020090828e58s00094_20090828_000000.xml
<class 'pandas.core.series.Series'>
FACTIVA_APRS000020110708e7780032s_20110709_044101.xml
<class 'pandas.core.series.Series'>
FACTIVA_LBA0000020080321e43l000fr_20080321_000000.xml
<class 'pandas.core.series.Series'>
FACTIVA_NYTF000020080321e43l00051_20080321_000000.xml
<class 'pandas.core.series.Series'>
FACTIVA_AFNWS00020070612e36b00020_20070612_000000.xml
<class 'pandas.core.series.Series'>
FACTIVA_AFNWS00020080417e44h0010c_20080417_000000.xml
<class 'pandas.core.series.Series'>
ACQUIREMED_9293274cc602bf9125f58e10001c65fcc7791a6c_20200121_011000.xml

№
1      None
2      None
3      None
4      None
5      None
       ...
96     None
97     None
98     None
99     None
100    None
Length: 100, dtype: object

# Docs and links

* [sklearn: TFIDF Transformer: Как получить значения tf-idf данных слов в документе](https://www.rupython.com/sklearn-tfidf-transformer-tf-idf-33655.html)
* [SO question: Имеется текст, надо вычислить TF-IDF-признаки по имеющимся тексту. Нашел 10 минимальных весов. Требуется найти 10 слов соответствующих абсолютному значению весов. Как можно это сделать?введите сюда описание изображения](https://ru.stackoverflow.com/questions/772859/tfidfvectorizer/773018#773018). С разбором что к чему.